
$mainColor: #000000;
$firstComplimentColor: #197C93;
$secondComplimentColor: #228197;
$thirdComplimentColor: #167A92;

$mainTextColor: #333333;
$firstComplimentTextColor: #2D383C;
$secondComplimentTextColor: #666666;
$thirdComplimentTextColor: #565656;
$fourthComplimentTextColor: #1F2532;
$fifthComplimentTextColor: #EEEEEE;

$mainNavigationColor: #FFFFFF;

$buttonFocusColor: #979797;
$buttonActiveColor: #4C5666;

$mainBorderColor: #D0D0D0;
$firstBorderColor: #D4D3D3;
$secondBorderColor: #CCCCCC;

$mainBackgroundColor: #FFFFFF;
$firstComplimentBackground: #F3F3F3;
$secondComplimentBackground: #F7F7F7;
$thirdComplimentBackground: #F2F6FA;
$fourthComplimentBackground: #DBDBDB;
$fifthComplimentBackground: #C5C5C5;

$accountTreeActive: #E1F0F7;

$firstAccentColor: #78B13F;
$secondAccentColor: #004085;

$mainErrorColor: #E00646;

$btnColor: hsl(190, 70%, 34%);
$btnFocusOutlineColor: change-color($color: $btnColor, $saturation: 35%, $lightness: 75%);

$maxScrollWidth: 34px;

$mobileWidth: 768px;
$tabletWidth: 1092px;

