
@import './../theme/common.scss';

.logindialog {
  min-width: 500px;
  margin: auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 10px;
    border-bottom: 1px solid $firstBorderColor;
  }

  &__title {
    font-size: 15px;
  }

  &__content {
    background-color: $mainBackgroundColor;
    border: none;

    &.--loading {

      &:before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $mainBackgroundColor;
        opacity: 0.5;
        z-index: 1;
      }
    }
  }

  &__body {
    position: relative;
    padding: 25px 5px 5px;
  }

  &__feedback {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    font-weight: bold;
    color: $mainErrorColor;
  }

  .registerbtn {
    width: 45%;
  }

  .loginbtn {
    width: 45%;
  }
}

.auth-opt {
  display: flex;
  flex-direction: column;

  .authbtn {
    margin: 0 3% 3% 3%;
  }
}

@media (max-width: $mobileWidth - 1) {
  .logindialog {
    height: 100%;
    min-width: 100%;
  }
}
