@import './../theme/common.scss';

.logindialogdivider {
    width: 100%; 
    text-align: center; 
    color: $secondComplimentTextColor;
    font-weight: bold;
    border-bottom: 1px solid $mainBorderColor; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    margin-top: 10%;
    margin-bottom: 10%;
    span {
        background:#fff; 
        padding:0 10px;
        
    }
 } 