@import './../theme/common.scss';

.authbtn {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    border: 1px solid #FFFFFF;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 15px;
    background-color: grey;
}

.Keycloak {
    background-color:#1eb9e1!important
 }
 .Auth0 {
     background-color: #f95624!important
 }
