@import './theme/common';

.address {

  &__maincontainer {
    position: relative;
    border: 1px solid $firstBorderColor;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 30px 100px 30px;
  }

  &__container {
    width: 50%;
    margin-bottom: 20px;
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__button {
    color: $firstComplimentColor;
    height: 16px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &.--edit {
      padding-right: 10px;
      margin-right: 10px;
      border-right: 2px solid $secondBorderColor;
    }
  }

  &__list {
    padding: 5px 0;
  }

  &__addnewaddress {
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 280px;
    height: 44px;
    text-align: center;
    border: 1px solid transparent;
    color: $mainBackgroundColor;
    background-color: $firstComplimentColor;
  }
}
