
.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  $maxScrollWidth: 34px;

  &__header {
    flex: 0 0 60px;
    background-color: white;
    padding-right: calc(#{$maxScrollWidth} - 100vw + 100%);
  }

  &__navmenu {
    flex: 0 0 48px;
    background-color: black;
    text-align: center;
    padding-left: $maxScrollWidth;
    padding-right: calc(#{$maxScrollWidth} - 100vw + 100%);
  }

  &__main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__footer {
    flex: 0 0 100px;
    background-color: black;
    padding-left: $maxScrollWidth;
    padding-right: calc(#{$maxScrollWidth} - 100vw + 100%);
  }
}
