
@import './theme/common';

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    height: 60px;
    flex: 0 0 auto;
    background-color: white;
    padding-right: calc(#{$maxScrollWidth} - 100vw + 100%);
  }

  &__navmenu {
    flex: 0 0 48px;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: $maxScrollWidth;
    padding-right: calc(#{$maxScrollWidth} - 100vw + 100%);
  }

  &__main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__footer {
    flex: 0 0 100px;
    background-color: black;
    padding-left: $maxScrollWidth;
    padding-right: calc(#{$maxScrollWidth} - 100vw + 100%);
  }
}

@media (max-width: $mobileWidth - 1px) {
  .app {
    &__header {
      padding: 0;
    }
  }
}
