@import './theme/common';

.appfooter {

  &__content {
    position: relative;
    background-color: $mainColor;
    color: $mainNavigationColor;
    padding: 30px 30px 40px;
  }

  &__icon {
    width: 16px;
    height: 18px;
    fill: $mainBackgroundColor;
    margin: 0 10px 7px 0;
    vertical-align: top;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__firstrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__column {
    flex: 1;
    max-width: 250px;
    margin: 20px;
  }

  &__txt {
    opacity: 0.7;
    color: $mainNavigationColor;

    a {
      display: block;
      color: inherit;
    }
  }

  &__secondrow {
    display: none;
  }

  @media (max-width: $mobileWidth - 1px) {
    &__content {
      padding-right: 10px;
      padding-left: 10px;
    }

    &__social {
      display: none;
    }

    &__secondrow {
      display: block;
      text-align: center;
      padding-top: 20px;
    }

    &__icon {
      width: 21px;
      height: 24px;
      fill: $mainNavigationColor;
      margin: 0 20px;
    }
  }
}
