@import './theme/common';

.appheader {
  position: relative;
  height: 100%;

  &__container {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
  }

  &__logo {
    padding:  0 20px 0 60px;
  }

  &__search {
    flex: 1;
  }

  &__account, &__language, &__moltincartcontainer {
    margin-right: 20px;
  }

  &__language {
    margin-right: 20px;
  }

  &__container {
    width: 100%;
  }

  &__moltincartcontainer {
    flex: 0 0 auto;

    .epbtn {
      padding: 10px 15px;
    }
  }

  .toggle-btn {
    display: none;
  }

  &__navigation {
    z-index: 1;
    width: 100%
  }

  &__networkoffline {
    width: 50%;
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 25%;
    text-align: center;
    z-index: 1;
    border-radius: 3px;
    color: $secondAccentColor;
    background-color: adjust-color($color: $secondAccentColor, $lightness: 65%);
    border: 1px solid adjust-color($color: $secondAccentColor, $lightness: 60%);
  }

  @media(max-width: $tabletWidth) {
    .toggle-btn {
      display: inline-block;
    }

    &__logo {
      padding-left: 50px;
    }
  }

  @media (max-width: $mobileWidth) {
    &__search {
      flex: 0;
    }

    &__logo {
      flex: 1px;
    }

    &__accountm,
    &__search,
    &__language,
    &__moltincartcontainer,
    &__account {
      margin-right: 10px;
    }
  }

  @media all and (display-mode: standalone) {
    &__logo {
      padding-left: 72px;
      padding-right: 10px;
    }
  }
}
