@import './theme/common';

.appheader {
  position: relative;
  height: 100%;

  &__container {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
  }

  &__logo {
    flex: 1;
    padding-left: 40px;
  }

  &__account {
    margin-right: 20px;
  }

  &__language {
    margin-right: 20px;
  }

  &__moltincartcontainer {
    flex: 0 0 auto;
    padding-right: calc(#{$maxScrollWidth} - 100vw + 100%);
  }

  .toggle-btn {
    display: none;
  }

  &__navigation {
    z-index: 1;
    width: 100%
  }

  @media(max-width: $tabletWidth) {
    .toggle-btn {
      display: inline-block;
    }

    &__logo {
      padding-left: 50px;
    }
  }

  &__networkoffline {
    width: 50%;
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 25%;
    text-align: center;
    z-index: 1;
    border-radius: 3px;
    color: $secondAccentColor;
    background-color: adjust-color($color: $secondAccentColor, $lightness: 65%);
    border: 1px solid adjust-color($color: $secondAccentColor, $lightness: 60%);
  }
}
