
.appheader {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;

  &__logo {
    flex: 1;
    padding-left: 40px;
  }

  &__language {
    margin-right: 20px;
  }

  &__moltincartcontainer {
    flex: 0 0 auto;
  }
}
