@import './theme/common';

.appheader {
  position: relative;
  height: 100%;

  &__container {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
  }

  &__logo {
    padding:  0 20px 0 60px;
  }

  &__search {
    flex: 1;
  }

  &__account, &__language, &__moltincartcontainer {
    margin-right: 20px;
  }

  &__language {
    margin-right: 20px;
  }

  &__container {
    width: 100%;
  }

  &__moltincartcontainer {
    position: relative;
    flex: 0 0 auto;
  }

  .toggle-btn {
    display: none;
  }

  &__navigation {
    z-index: 1;
    width: 100%
  }

  &__networkoffline {
    width: 50%;
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 25%;
    text-align: center;
    z-index: 1;
    border-radius: 3px;
    color: $secondAccentColor;
    background-color: adjust-color($color: $secondAccentColor, $lightness: 65%);
    border: 1px solid adjust-color($color: $secondAccentColor, $lightness: 60%);
  }

  &__cartpopup {
    min-width: 250px;
    padding: 15px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $mainBackgroundColor;
    border-radius: 8px;
    border: 1px solid $mainBorderColor;
    text-align: center;
    margin-top: 10px;
    z-index: 2;

    p {
      font-size: $sizeSmall;
      text-align: left;
    }

    .epbtn {
      padding: 0;

      &:hover, &:active {
        background-color: transparent;
        text-decoration: underline;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -7px;
      right: 60px;
      width: 13px;
      height: 13px;
      transform: rotate(45deg);
      border-top: 1px solid $mainBorderColor;
      border-left: 1px solid $mainBorderColor;
      background-color: $mainBackgroundColor;
    }
  }

  @media(max-width: $tabletWidth) {
    .toggle-btn {
      display: inline-block;
    }

    &__logo {
      padding-left: 50px;
    }
  }

  @media (max-width: $mobileWidth - 1px) {
    &__search {
      flex: 0;
    }

    &__logo {
      flex: 1px;
    }

    &__accountm,
    &__search,
    &__language,
    &__account {
      margin-right: 10px;
    }

    &__moltincartcontainer {
      margin: 0;
    }

      &__moltincartcontainer & {
      &__cartbtn.--bordered {
        border: none;

        &:hover {
          border: none;
          background: transparent;
        }
      }
    }

    &__cartbtntxt {
      display: none;
    }

    &__cartpopup {
      right: -43px;
    }
  }

  @media all and (display-mode: standalone) {
    &__logo {
      padding-left: 72px;
      padding-right: 10px;
    }
  }

  @media (min-width: $mobileWidth) {
    &__cartbtn {
      padding: 10px 15px;
    }

    &__carticon {
      display: none;
    }
  }
}
