@import './theme/common';

.bulkorder {
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  &__form {
    max-width: 600px;
  }

  &__group {
    position: relative;
    margin-bottom: 25px;
  }

  &__label {
    display: inline-block;
    font-size: $sizeSmall;
    margin-bottom: 5px;
  }

  &__textarea {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    font-size: $sizeSmall;
    border: 1px solid $secondBorderColor;
    border-radius: 4px;
    color: $secondComplimentTextColor;

    &:focus {
      border-color: $firstComplimentColor;
      outline: 0 auto transparent;
    }
  }

  &__info {
    margin-bottom: 15px;

    p {
      font-size: $sizeSmall;
      white-space: pre;
    }
  }

  &__clearbtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
  }

  &__clearicon {
    fill: $thirdComplimentTextColor;
  }

  &__btns {
    text-align: right;

    .epbtn {
      height: 42px;
      min-width: 300px;

      .circularLoader {
        border-top-color: $mainColor;
      }
    }
  }

  &__feedback {
    width: 100%;
    font-size: $sizeSmall;
    color: $mainErrorColor;
    background-color: $mainBackgroundColor;
    white-space: pre-line;
    text-overflow: clip;
    line-height: 18px;
    max-height: 190px;
    overflow-y: auto;
    padding:10px;
    border-radius: 5px;
  }

  &__addtocartdropdowncontainer {
    position: relative;
    width: fit-content;
    float: right;
    margin-bottom: 20px;
  }
  
  &__addtocartdropdownwrap {
    max-width: 330px;
    display: flex;
  }

  &__addtocartbtn {
    text-align: left;
    flex-grow: 1;
    text-overflow: ellipsis;
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
  }

  &__addtocartdropdowntoggle {
    width: 50px;
    text-align: center;
    cursor: pointer;

    &.--open {
      background-color: $mainColor!important;
    }
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &__addtocartdropdownicspinner {
    animation: rotating 1s linear infinite;
  }

  &__addtocartdropdowniscaret {
    margin: 3px 0;

    &.--rotated {
      transform: rotate(180deg);
    }
  }

  &__addtocartdropdowncontent {
    border: 1px solid $mainColor;
    width: 100%;
    max-width: 330px;
    max-height: 180px;
    overflow-x: hidden;
    z-index: 1;
  }

  &__addtocartdropdownbtn {
    display: block;
    width: 100%;
    height: 32px;
    padding: 10px;
    background-color: $mainBackgroundColor;
    color: $firstComplimentColor;
    font-size: 13px;
    line-height: 13px;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background-color: $sixthComplimentBackground;
    }
  }
  
  &__createcartmodalbg {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  &__createcartmodal {
    position: absolute;
    width: 460px;
    padding: 25px;
    z-index: 2;
    background: $mainNavigationColor;
    border: 1px solid $secondBorderColor;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__createcartheader {
    display: flex;
    justify-content: space-between;
  }

  &__createcartheadertext {
    font-weight: bold;
    font-size: 24px;
  }

  &__createcartheaderbnt {
    cursor: pointer;
  }

  &__messagewrap {
    position: relative;
  }
  
  &__clearerrorbtn {
    cursor: pointer;
    display:block;
    position: relative;
    left:93%
  }

  &__clearerrorbtnicon{
      fill: $mainErrorColor;
  }

  @media (max-width: $mobileWidth - 1px) {
    &__feedback {
      padding: 15px;
    }

    .--secondary{
      width: 100%;
    }
  }

  @media (max-width: $mobileXSmallWidth - 1px) {
    &__btns {
      .epbtn {
        min-width: 100%;
      }
    }

    &__addtocartdropdowncontainer {
      width: 100%;
    }
    
    &__addtocartdropdownwrap {
      max-width: 100%;
    }

    &__addtocartdropdowncontent {

      max-width: 100%;

    }
  }

  @media screen and (min-width: $tabletSmallWidth) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;

    &__group {
      width: 600px;
    max-width: 800px;
    }

    &__feedback {
      max-height: 390px;
    }

    &__textarea {
      min-height: 400px;
    }
  }
  @media screen and (min-width: $fullHDWidth) {

    &__group {
      width: 700px;
    }

    &__form {
     max-width: 700px;
    }
  }

  @media (max-width: $mobileSmallWidth - 1px) {
    &__createcartmodalbg {
      position: fixed;
    }

    &__createcartmodal {
      height: 100%;
      width: 100%;
    }
  }

}
