
@import './theme/common.scss';

.bulkorderdropdown {
  width: fit-content;
  position: relative;

  &__btnicon {
    display: inline;
    content: " ";
    width: 16px;
    height: 12px;
    background-size: cover;
  }

  &__btntext {
    display: inline;
    padding-left: 7px;
  }

  &__link {
    width: 100%;
    padding: 7px 10px;
    color: $thirdComplimentColor;
    font-size: $sizeSmall;
    line-height: 19px;
    color: black;
    &:hover {
      color: #115666;
      svg {
        path {
          fill: #115666;
        } 
      }
    }
    
    &:focus {
      color: #0C3D47;
      svg {
        path {
          fill: #0C3D47;
        }
      }
    }
  }

  @media (max-width: $mobileWidth - 1px) {
    &__btntext {
      display: none;
    }
  }
}
