@import './theme/common.scss';

.cartslist {
  text-align: center;

  &__content {
    position: relative;
  }

  &__deletebutton {
    &:hover {
      cursor: pointer;

      svg {
        fill: $firstComplimentColor
      }
    }

    &:disabled {
      cursor: not-allowed;

      svg {
        fill: $sixthComplimentTextColor;
      }
    }
  }

  &__editbutton {
    position: absolute;
    top: -20px;
    right: 0;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__nocartmessage {
    margin: 60px 0;
    text-transform: uppercase;
  }

  &__title {
    font-style: normal;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
  }

  &__listname {
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__cartlist {
    border-top: 1px solid $secondBorderColor;
    margin-bottom: 30px;
  }

  &__cartelement {
    text-align: left;
    padding: 20px 8px;
    border-bottom: 1px solid $secondBorderColor;

    &.--selected {
      background-color: $sixthComplimentBackground;
    }
  }

  &__description {
    display: block;

    p {
      font-size: 13px;
    }
  }

  &.--date {
    font-size: 11px;
    color: $thirdComplimentTextColor;
    text-transform: uppercase;
  }

  &__quantity {
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  &__cartname {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    height: 18px;

    .--overflowtext {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 240px;

      @media (max-width: $mobileXSmallWidth) {
        max-width: 150px;
      }
    }
  }

  &__selectcart {
    svg {
      fill: $fourthComplimentTextColor;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__checkall {
    &.epcheckbox {
      visibility: visible;
      //display: inline;

      +label {

        &:before {
          border: 1px solid $mainColor;
        }
      }
    }
  }

  &__selectedtitle {
    width: 100%;
    visibility: hidden;

    .isshow {
      visibility: visible;
      display: flex;
      background-color: $sixthComplimentBackground;
      justify-content: space-between;
      align-items: center;
      padding: 10px 8px;

    }
  }

  &__check {
    width: 30px;
    height: 30px;
    visibility: hidden;

    &.hidden {

    }

    &.isshow {
      visibility: visible;
    }
  }

  &__confirmationoverlay {
    background-color: $mainTextColor;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0.3;
  }

  &__confirmation {
    width: 350px;
    position: absolute;
    top: 130px;
    right: 50px;
    background: $secondComplimentBackground;
    border: 1px solid $mainBorderColor;
    padding: 20px 30px 30px;
    z-index: 4;
  }

  &__closebtn {
    cursor: pointer;
  }

  &__confirmationtitle {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid $secondBorderColor;
  }

  &__confirmationmsg {
    text-align: left;
    margin-bottom: 30px;
  }

  &__confirmationbtns {
    .epbtn {
      width: 100%;

      &.--primary {
        margin-bottom: 15px;
      }
    }
  }

  @media (max-width: $mobileXSmallWidth - 1px) {
    &__confirmation {
      padding: 15px 20px 20px;
    }

    &__confirmationbtns {
      .epbtn {
        min-width: 110px;
      }
    }
  }
}

