
@import './theme/common';

.cartitemlist {
  $block: &;

  &__mycart {
    position: absolute;
    right: 35px;
    top: 40px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__header{
    line-height: 34px;
    padding-top: 20px;
    padding-bottom: 15px;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__product {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;

    &.--removing {
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $mainBackgroundColor;
        opacity: 0.3;
        z-index: 1;
      }
    }
  }

  &__wrap {
    padding-bottom: 10px;
  }

  &__info {
    flex-grow: 1;
  }

  &__image {
    display: inline-block;
    width: 75px;
    border: 1px solid $secondBorderColor;
    margin-right: 12px;
  }

  &__name {
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__price {
    margin-bottom: 8px;
  }

  &__removebutton {
    font-weight: bold;
    cursor: pointer;
    color: $thirdComplimentColor;

    &:hover {
      text-decoration: underline;
    }
  }

  &__quantitywrap {
    margin-right: 5px;
    margin-top: 5px;
  }

  &__quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  &__arrow {
    display: inline-block;
    height: 7px;
    width: 7px;
    border-bottom: 1px solid $fourthComplimentTextColor;
    border-right: 1px solid $fourthComplimentTextColor;
    cursor: pointer;

    &.--top {
      transform: rotate(225deg);
    }

    &.--bottom {
      transform: rotate(45deg);
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  &__count {
    padding: 4px 0;
    text-align: center;
  }

  &__checkoutbutton {
    text-align: center;
  }

  &__total {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__totaltitle {
    font-size: 16px;
    font-weight: bold;
  }

  &__settingsicon {
    margin-left: 6px;

    svg {
      fill: $secondComplimentTextColor;
    }

    &:hover {
      cursor: pointer;

      svg {
        fill: $firstComplimentColor;
      }
    }
  }

  &__prompt {
    width: 350px;
    position: absolute;
    top: 130px;
    right: 50px;
    background: $mainBackgroundColor;
    border: 1px solid $mainBorderColor;
    padding: 20px 25px 30px;
    z-index: 4;

    .epform__group {
      .epbtn {
        width: 100%;
        height: 100%;
        &:first-child {
          margin-bottom: 20px;
          background-color: $buttonActiveColor;
          border: 1px solid $buttonActiveColor;

          &:hover {
            background-color: $btnPrimaryHoverColor;
            border: 1px solid $btnPrimaryHoverColor;
          }

          &:active {
            background: $mainColor;
            border: 1px solid $mainColor;
          }
        }
      }
    }
  }

  &__prompttitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid $secondBorderColor;

    button {
      cursor: pointer;
    }
  }

  &__promptcontent {
    p {
      text-align: center;
      margin-bottom: 15px;
    }

    .epbtn {
      width: 100%;
    }
  }

  &__promptoverlay {
    background-color: $mainTextColor;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0.3;
  }

  &__subtotal {
    font-size: 20px;
    font-weight: bold;
  }

  &__emptycart {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: $btnColor;
    cursor: pointer;
    margin-top: 20px;

    svg{
      fill: $btnColor;
      width:14px;
    }

    &:hover{
      color: $btnSecondaryHoverColor;
      svg{
        fill: $btnSecondaryHoverColor;
      }
    }
  }

  &__confirmationoverlay {
    background-color: $mainTextColor;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0.3;
  }

  &__confirmation {
    width: 350px;
    position: absolute;
    top: 130px;
    right: 50px;
    background: $secondComplimentBackground;
    border: 1px solid $mainBorderColor;
    padding: 20px 30px 30px;
    z-index: 4;
  }

  &__closebtn {
    cursor: pointer;
  }

  &__confirmationtitle {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid $secondBorderColor;
  }

  &__confirmationmsg {
    text-align: left;
    margin-bottom: 30px;
  }

  &__confirmationbtns {
    .epbtn {
      width: 100%;
      height: 42px;

      &.--primary {
        margin-bottom: 15px;
      }
    }
  }

  .settingscart {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    min-height: 100%;
    width: 100%;
    padding: 32px;
    background: $mainBackgroundColor;
    opacity: 0;
    visibility: hidden;
    transform: translateX(500px);
    transition: all 0.3s ease 0s;
    z-index: 1;

    &.--show {
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
    }
  }

  &__date {
    padding-bottom: 50px;
  }
  
  &__expirydate {
    text-align: center;
  }

  @media (min-width: $mobileXSmallWidth) {
    &__backicon {
      display: none;
    }
  }

  @media (max-width: $mobileXSmallWidth - 1px) {
    &__prompt {
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
    }

    &__prompttitle {
      padding-right: 24px;
      border-bottom: none;
      margin-bottom: 20px;

      h2 {
        flex-grow: 1;
        text-align: center;
      }

      button {
        order: -1;
      }
    }

    &__closeicon {
      display: none;
    }

    &__header {
      max-width: 160px;
    }
  
    &__title{
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
  
    &__settingsicon{
      line-height: 20px;
      svg{
        height: 14px;
      }
    }
  }
}

.partialadd{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  
  &__alertMessage{
    padding: 20px;
    height: fit-content;
    font-size: $sizeSmall;
    color: $mainErrorColor;
    border: 1px solid $mainErrorColor;
    background-color: $mainBackgroundColor;
    white-space: pre-wrap;
    height: fit-content;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;

    p {
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      text-align: left;
      text-overflow: clip;
    }

    svg {
      cursor: pointer;
      fill: $fourthComplimentTextColor;
      width: 20px;
      height: 20px;
      align-items:flex-end;
      justify-content: flex-end;
    }
  }

  &__confirmationmessage{
    border: 1px solid $secondBorderColor;
    background-color: $mainBackgroundColor;
    box-sizing: border-box;
    white-space: pre-wrap;
    height: fit-content;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    padding: 10px 20px;

    p {
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      text-align: left;
      text-overflow: clip;
    }

    svg {
      cursor: pointer;
      fill: $fourthComplimentTextColor;
      width: 20px;
      height: 20px;
      align-items:flex-end;
      justify-content: flex-end;
    }
  }
}
