
@import './theme/common';

.cartitemlist {
  $block: &;
  position: relative;

  &__mycart {
    position: absolute;
    right: 0;
    top: 5px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 350px;
    margin: 0 auto;
  }

  &__product {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;

    &.--removing {
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $mainBackgroundColor;
        opacity: 0.3;
        z-index: 1;
      }
    }
  }

  &__wrap {
    padding-bottom: 10px;
  }

  &__info {
    flex-grow: 1;
  }

  &__image {
    display: inline-block;
    width: 75px;
    border: 1px solid $secondBorderColor;
    margin-right: 12px;
  }

  &__name {
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__price {
    margin-bottom: 8px;
  }

  &__removebutton {
    font-weight: bold;
    cursor: pointer;
    color: $thirdComplimentColor;

    &:hover {
      text-decoration: underline;
    }
  }

  &__quantitywrap {
    margin-right: 5px;
    margin-top: 5px;
  }

  &__quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  &__arrow {
    display: inline-block;
    height: 7px;
    width: 7px;
    border-bottom: 1px solid $fourthComplimentTextColor;
    border-right: 1px solid $fourthComplimentTextColor;
    cursor: pointer;

    &.--top {
      transform: rotate(225deg);
    }

    &.--bottom {
      transform: rotate(45deg);
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  &__count {
    padding: 4px 0;
    text-align: center;
  }

  &__checkoutbutton {
    text-align: center;
  }

  &__total {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__totaltitle {
    font-size: 16px;
    font-weight: bold;
  }

  &__settingsicon {
    margin-left: 6px;

    svg {
      fill: $secondComplimentTextColor;
    }

    &:hover {
      cursor: pointer;

      svg {
        fill: $firstComplimentColor;
      }
    }
  }

  &__subtotal {
    font-size: 20px;
    font-weight: bold;
  }
  .settingscart {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    min-height: 100%;
    width: 100%;
    padding: 32px;
    background: $mainBackgroundColor;
    opacity: 0;
    visibility: hidden;
    transform: translateX(500px);
    transition: all 0.3s ease 0s;
    z-index: 1;

    &.--show {
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
    }
  }
}
