@import './theme/common.scss';

.cartslist {
  $block: &;
  text-align: center;

  &__content {
    position: relative;
  }

  &__alertMessage {
    border: 1px solid $secondBorderColor;
    background-color: $mainBackgroundColor;
    z-index: 1;
    box-sizing: border-box;
    height: 
    48px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      text-align: left;
      position: absolute;
      left: 4.44%;
      right: 25%;
      top: 33.33%;
      bottom: 29.17%;
      
    }
    svg {
      cursor: pointer;
      fill: $fourthComplimentTextColor;
      width: 12px;
      height: 12px;
      position: absolute;
      right: 8%;
      bottom: 33.33%;
    }
  }

  &__deletebutton {
    min-height: 24px;

    &:hover {
      cursor: pointer;

      svg {
        fill: $firstComplimentColor
      }
    }

    &:disabled {
      cursor: not-allowed;

      svg {
        fill: $sixthComplimentTextColor;
      }
    }
  }

  &__editbutton {
    position: absolute;
    top: 8px;
    right: 0;
    color: $thirdComplimentColor;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__nocartmessage {
    margin: 60px 0;
    text-transform: uppercase;
  }

  &__title {
    font-style: normal;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
  }

  &__listname {
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__cartlist {
    border-top: 1px solid $secondBorderColor;
    margin-bottom: 30px;
  }

  &__cartelement {
    text-align: left;
    border-bottom: 1px solid $secondBorderColor;

    #{$block}__description {
      padding: 20px 8px;
    }

    .epcheckbox {
      + #{$block}__description {
        padding-left: 32px;

        &:before {
          top: 20px;
          left: 8px;
        }
      }

      &:checked {
        + #{$block}__description {
          &:after {
            top: 23px;
            left: 9px;
          }
        }
      }
    }

    &:hover {
      background-color: $sixthComplimentBackground;
      color: $firstComplimentColor;

      #{$block}__date {
        color: $firstComplimentColor;
      }

      #{$block}__selectcart {
        svg {
          fill: $firstComplimentColor;
        }
      }
    }
  }

  &__description {
    display: block;
    cursor: pointer;

    p {
      font-size: 13px;
    }
  }

  &__date {
    font-size: 11px;
    color: $thirdComplimentTextColor;
    text-transform: uppercase;
  }

  &__quantity {
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  &__cartname {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    height: 18px;

    .--overflowtext {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 240px;

      @media (max-width: $mobileXSmallWidth - 1px) {
        max-width: 150px;
      }
    }
  }

  &__selectcart {
    svg {
      fill: $fourthComplimentTextColor;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__checkall {
    &.epcheckbox {
      visibility: visible;
      //display: inline;

      +label {

        &:before {
          border: 1px solid $mainColor;
        }
      }
    }
  }

  &__selectedtitle {
    width: 100%;
    min-height: 44px;
    visibility: hidden;

    .isshow {
      visibility: visible;
      display: flex;
      background-color: $sixthComplimentBackground;
      justify-content: space-between;
      align-items: center;
      padding: 10px 8px;

    }
  }

  &__check {
    width: 30px;
    height: 30px;
    visibility: hidden;

    &.hidden {

    }

    &.isshow {
      visibility: visible;
    }
  }

  &__confirmationoverlay {
    background-color: $mainTextColor;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0.3;
  }

  &__confirmation {
    width: 350px;
    position: absolute;
    top: 130px;
    right: 50px;
    background: $secondComplimentBackground;
    border: 1px solid $mainBorderColor;
    padding: 20px 30px 30px;
    z-index: 4;
  }

  &__closebtn {
    cursor: pointer;
  }

  &__confirmationtitle {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid $secondBorderColor;
  }

  &__confirmationmsg {
    text-align: left;
    margin-bottom: 30px;
  }

  &__confirmationbtns {
    .epbtn {
      width: 100%;
      height: 42px;

      &.--primary {
        margin-bottom: 15px;
      }
    }
  }

  .settingscart {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    min-height: 100%;
    width: 100%;
    padding: 32px;
    background: $mainBackgroundColor;
    opacity: 0;
    visibility: hidden;
    transform: translateX(500px);
    transition: all 0.3s ease 0s;
    z-index: 1;

    &.--show {
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
    }
  }

  @media (min-width: $mobileWidth) {
    &__cartlist:not(.--editmode) {
      &__cartelement {
        &:focus {
          background-color: $firstComplimentColor;
          color: $mainBackgroundColor;

          #{$block}__date,
          #{$block}__description {
            color: $mainBackgroundColor;
          }

          #{$block}__selectcart {
            svg {
              fill: $mainBackgroundColor;
            }
          }
        }
      }
    }
  }

  @media (max-width: $mobileXSmallWidth - 1px) {
    &__confirmation {
      width: calc(100% - 40px);
      padding: 15px 20px 20px;
      right: 20px
    }

    .settingscart {
      padding: 20px;
    }
  }
}

