@import './theme/common.scss';

.cartselection {
  text-align: center;

  &__nocartmessage {
    padding: 30px 0;
    margin: 30px 0;
    border-top: 1px solid $mainBorderColor;
    text-transform: uppercase;
  }

  &__title {
    font-style: normal;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }

  &__listname {
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__cartlist {
    border-top: 1px solid $secondBorderColor;
    margin-bottom: 30px;
  }

  &__cartelement {
    text-align: left;
    padding: 20px 0;
    border-bottom: 1px solid $secondBorderColor;
  }

  &__description {
    display: block;
    padding-right: 10px;

    p {
      font-size: 13px;
    }
  }

  &__edited {
    font-size: 11px;
    text-transform: uppercase;
    color: $thirdComplimentTextColor;
  }

  &__quantity {
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__cartname {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    .--overflowtext {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 240px;

      @media (max-width: $mobileXSmallWidth - 1px) {
        max-width: 150px;
      }
    }
  }
}


