@import './theme/common.scss';

.CartsPagination {
    position: absolute;
    bottom: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);

    &__pagenumber {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        padding: 0 10px;
    }

    &__prevpageicon {
        transform: rotate(90deg);
        
    }

    &__nextpageicon {
        transform: rotate(-90deg);
        
    }

    svg {
        path{
            fill: #3C4858;
        }
       
        cursor: pointer;

        &:hover{
            fill:$firstComplimentTextColor;
        }
    }

}