
.category {
  $block: &;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  #{$block}__breadcrumbs {
    width: 100%;
    margin-top: 20px;

    #{$block}__breadcrumbseparator {
      color: hsl(0, 0, 70%);
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  #{$block}__categoryname {
    flex: 0;
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: 26px;
    font-weight: bold;
  }

  #{$block}__productlist {
    flex: 1 1 auto;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    #{$block}__product {
      flex: 0 0 25%;
    }
  }

  #{$block}__pagination {
    flex: 0 0 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
