
@import './theme/common';

.category {
  $block: &;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  #{$block}__breadcrumbs {
    margin-top: 20px;
    font-size: $sizeInitialLarger;
    font-weight: bold;
    color: hsl(0, 0%, 45%);

    #{$block}__breadcrumbseparator {
      color: hsl(0, 0, 70%);
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  #{$block}__categoryname {
    flex: 0;
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: $sizeXLarge;
    font-weight: bold;
  }

  #{$block}__totalresults {
    margin-bottom: 20px;
  }

  #{$block}__productlist {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    #{$block}__product {
      flex: 0 0 100%;
      text-align: center;
    }
  }

  #{$block}__pagination {
    flex: 0 0 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $mobileXSmallWidth - 101px) {
    #{$block}__productlist {
      #{$block}__product {
        flex: 0 0 50%;
      }
    }
  }

  @media (min-width: $mobileSmallWidth) {
    #{$block}__productlist {
      width: 540px;

      #{$block}__product {
        flex: 0 0 33.33%;
      }
    }
  }

  @media (min-width: $mobileWidth) {
    #{$block}__productlist {
      width: 720px;

      #{$block}__product {
        flex: 0 0 25%;
      }
    }
  }

  @media (min-width: $tabletSmallWidth) {
    padding-left: $maxScrollWidth;
    padding-right: calc(#{$maxScrollWidth} - 100vw + 100%);

    #{$block}__productlist {
      width: 800px;
    }
  }

  @media (min-width: $fullHDWidth) {
    #{$block}__productlist {
      width: 1000px;
    }
  }
}
