
@import './theme/common';

.checkout {
  &__card {
    margin: 20px 0;
  }
}

.card-title {
  margin: 6px 0;
  text-align: left;
  font-weight: bold;
}

.payment-form {
       background-color: $mainBackgroundColor;
       border: 1px solid $buttonActiveColor;
       border-radius: 0.25rem;
       padding: 0.75rem 1rem;
}
