
@import './theme/common';

.compareproducts {
  $block: &;

  width: 100%;
  margin-top: 60px;

  #{$block}__title {
    text-align: center;
    font-weight: bold;
    font-size: $sizeXLarge;
  }

  #{$block}__subtitle {
    font-weight: bold;
    margin-bottom: 10px;
  }

  #{$block}__noproducts {
    text-align: center;

    p {
      margin-top: 8px;
    }
  }

  #{$block}__table {
    width: 100%;
    table-layout: fixed;

    td {
      &:first-child {
        font-weight: bold;
        width: 90px;
      }
    }

    #{$block}__imgrow {
      td {
        height: 160px;
        vertical-align: top;
        text-align: center;
      }
    }

    #{$block}__imgwrap {
      position: relative;
      max-width: 150px;
      min-height: 180px;
      padding-top: 30px;
      margin: 0 auto 10px;
    }

    #{$block}__maininfo {
      #{$block}__name {
        font-weight: bold;
      }

      #{$block}__price {
        margin-top: 10px;
      }

      #{$block}__addtocart {
        margin-top: 16px;
      }
    }

    #{$block}__datarow {
      &:nth-child(even) {
        background-color: hsl(0, 0%, 96%);
      }

      td {
        padding: 12px 10px;
        font-size: $sizeSmall;
        border-right: 1px solid $secondBorderColor;

        &:first-child {
          border-left: 1px solid $secondBorderColor;
          background-color: adjust-color($color: $secondAccentColor, $lightness: 70%);
        }
      }
    }
  }

  #{$block}__producttable {
    margin: 60px 0;
  }

  #{$block}__datatable {
    margin-bottom: 60px;
    border-top: 1px solid $secondBorderColor;
    border-bottom: 1px solid $secondBorderColor;
  }

  #{$block}__datawrap {
    max-width: 150px;
    margin: 0 auto;
  }

  #{$block}__removebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  #{$block}__removeicon {
    width: 20px;
    height: 20px;
    fill: $buttonActiveColor;
  }

  #{$block}__imgplaceholder {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    background-color: $secondComplimentBackground;
    border: 1px dashed adjust-color($color: $secondAccentColor, $lightness: 65%);
  }

  #{$block}__tabs {
    display: none;
  }

  #{$block}__tab {
    min-width: 50%;
    padding: 5px 10px 15px;
    border-bottom: 2px solid transparent;

    &.--selected {
      color: $firstComplimentColor;
      border-bottom-color: $firstComplimentColor;
    }
  }

  .productmainimage {
    width: 100%;
    border: 1px solid $secondBorderColor;
  }

  @media (min-width: $mobileSmallWidth) {
    #{$block}__table {
      #{$block}__imgwrap {
        max-width: 105px;
        min-height: 135px;
      }
    }

    #{$block}__imgplaceholder {
      height: 105px;
      width: 105px;
    }
  }

  @media (min-width: $mobileWidth) {
    #{$block}__table {
      #{$block}__imgwrap {
        max-width: 160px;
        min-height: 190px;
      }
    }

    #{$block}__imgplaceholder {
      height: 150px;
      width: 150px;
    }
  }

  @media (min-width: $tabletSmallWidth) {
    #{$block}__datawrap {
      max-width: 180px;
    }

    #{$block}__table {
      #{$block}__imgwrap {
        max-width: 180px;
        min-height: 210px;
      }
    }

    #{$block}__imgplaceholder {
      height: 180px;
      width: 180px;
    }
  }

  @media (max-width: $mobileSmallWidth - 1px) {
    #{$block}__table {
      #{$block}__placeholder {
        display: none;
      }
    }

    #{$block}__producttable {
      display: block;

      tbody {
        display: block;
      }

      tr {
        display: block;
      }

      td {
        display: block;
      }

      #{$block}__imgrow {
        display: flex;
        flex-wrap: wrap;

        td {
          width: 50%;
          height: auto;
          border: none;
          margin-bottom: 15px;

          &:first-child {
            display: none;
          }
        }
      }
    }

    #{$block}__datatable {
      #{$block}__datawrap {
        max-width: 100%;
      }

      td:not(:first-child) {
        text-align: center;

        &:not(.--selected) {
          display: none;
        }
      }
    }

    #{$block}__tabs {
      display: flex;
      overflow-x: auto;
    }
  }
}
