
@import './theme/common';

$overlayHeight: 100px;
$animLength: 0.2s;

.compareoverlay {
  $block: &;

  position: fixed;
  right: 0;
  bottom: -100%;
  transition: bottom 0.1s ease-out;
  z-index: 10;

  #{$block}__content {
    background-color: white;
    box-shadow: 0 0 10px hsla(0, 0, 0, 0.3);
    padding: 0 25px 25px;
  }

  &--visible {
    bottom: 0;
  }

  .productmainimage {
    width: 100%;
  }

  #{$block}__products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-bottom: 10px;

    #{$block}__product {
      position: relative;
      margin: 5px 0 5px;
      width: 160px;
      box-shadow: 0 0 2px hsla(0, 0, 0, 0.3);

      + #{$block}__product {
        margin-left: 20px;
      }

      #{$block}__productimg {
        height: 160px;
        width: 160px;
        margin-bottom: 10px;
      }

      #{$block}__productdetails {
        flex: 1;
        margin-left: 10px;
        font-size: $sizeInitial;
        align-self: center;
        margin-bottom: 10px;

        #{$block}__productname {
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        #{$block}__productprice {
          margin-top: 8px;
        }
      }

      #{$block}__removeproduct {
        position: absolute;
        top: -32px;
        right: -3px;

        button {
          padding: 0;
          color: hsl(0, 0, 30%);
          height: 100%;

          &:hover {
            background-color: transparent;
          }

          svg {
            width: 20px;
            height: 20px;
            fill: $buttonActiveColor;
          }
        }
      }
    }
  }

  #{$block}__btns {
    min-height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 160px;

    button {
      min-width: 160px;
    }
  }

  #{$block}__removebtn {
    margin-right: 20px;
  }

  #{$block}__comparebtn {
    min-width: 160px;
    position: fixed;
    right: 25px;
    bottom: -100%;
  }

  &--visible {
    #{$block}__comparebtn {
      bottom: 25px;
    }
  }

  &--fadeout {
    &:not(:hover) {
      #{$block}__content {
        display: none;
      }

      #{$block}__btns {
        display: none;
      }
    }
  }

  @media (min-width: $tabletSmallWidth) {
    #{$block}__products {
      #{$block}__product {
        width: 180px;

        #{$block}__productimg {
          height: 180px;
          width: 180px;
        }

        + #{$block}__product {
          margin-left: 40px;
        }
      }
    }

    #{$block}__btns {
      padding-right: 180px;

      button {
        min-width: 180px;
      }
    }

    #{$block}__removebtn {
      margin-right: 40px;
    }

    #{$block}__comparebtn {
      min-width: 180px;
    }
  }

  @media (max-width: $mobileWidth - 1px) {
    #{$block}__content {
      display: none;
    }

    #{$block}__btns {
      display: none;
    }
  }
}
