
.comparecheck {
  label {
    user-select: none;
    cursor: pointer;

    input[type="checkbox"] {
      cursor: pointer;
    }

    span {
      margin-left: 5px;
    }
  }

  &.--disabled {
    label {
      color: hsl(0, 0, 60%);
    }
  }
}
