@import './theme/common.scss';

.createcart {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding: 32px;
  background: $mainBackgroundColor;
  opacity: 0;
  visibility: hidden;
  transform: translateX(500px);
  transition: all 0.3s ease 0s;
  z-index: 1;

  &.--show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }

  .epform__group {
    margin-bottom: 30px;
  }

  &__title {
    display: flex;
    padding-right: 24px;
    margin-bottom: 45px;

    h2 {
      font-style: normal;
      font-size: 28px;
      line-height: 34px;
      text-align: center;
      font-weight: bold;
      text-align: center;
      flex-grow: 1;
    }

    button {
      cursor: pointer;
    }
  }

  &__info {
    padding-bottom: 35px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid $secondBorderColor;
    margin-bottom: 40px;
  }

  &__btns {
    text-align: right;

    .epbtn {
      min-width: 150px;

      &:first-child {
        margin-right: 20px;
      }
    }
  }

  @media (max-width: $mobileXSmallWidth - 1px) {
    padding: 20px;

    &__title {
      h2 {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__btns {
      display: flex;
      flex-direction: column;

      .epbtn {
        width: 100%;
        margin: 0 0 15px;

        &:first-child {
          order: 1;
          margin-right: 0;
        }
      }
    }
  }
}
