@import './theme/common.scss';

.createcart {
  $block: &;

  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: $mainBackgroundColor;
  opacity: 0;
  visibility: hidden;
  transform: translateX(500px);
  transition: all 0.3s ease 0s;
  z-index: 1000;
  padding: 50px;

  &.--show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }

  &__close {
    float: right;
    cursor: pointer;
    margin-right: 25px;
    width: 20px;
  }

  .epform__group {
    margin-bottom: 30px;
  }

  &__title {
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      align-items: center;
      text-align: center; color: #333333;
    }
  }

  &__info {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 32px;
  }

  &__infospan {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }

  .--selectinfo, .--mergetitle {
    padding: 32px;
  }

  &__optionstitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    padding: 0px 32px;
  }

  &__createcartinput {
    padding: 0px 32px;
  }

  &__createcartlabel {
    width: 100%;
  }

  &__createcarttitle {
    padding-left: 25px;
  }

  &__btns {
    text-align: right;
    width: 200px;
    margin: 56px auto;

    .epbtn {
      min-width: 150px;
      width: 100%;
      margin: 0px auto;

      &:first-child {
        margin-right: 20px;
      }
    }
  }

  &__clearbtn {
    display: none;
    position: absolute;
    right: 5px;
    bottom: 2px;
    cursor: pointer;

    &:hover {
      display: inline-block;
    }
  }

  .epform__input {
    &:focus {
      &__clearbtn {
        display: inline-block;
      }
    }
  }

  &__cart {
    margin: 0px 32px;
    padding: 20px 25px;

    text-align: left;
    border-bottom: 1px solid $secondBorderColor;

    &__description {
      padding: 20px 8px;
    }

    .epradio {
      &__description {
        padding-left: 32px;

        &:before {
          top: 20px;
          left: 8px;
        }
      }

      &:checked {
        &__description {
          &:after {
            top: 23px;
            left: 9px;
          }
        }
      }
    }

    &:hover {
      background-color: $sixthComplimentBackground;
      color: $firstComplimentColor;

      #{$block}__date {
        color: $firstComplimentColor;
      }

      #{$block}__selectcart {
        svg {
          fill: $firstComplimentColor;
        }
      }
    }
  }

  &__label {
    display: block;
    cursor: pointer;

    p {
      font-size: 13px;
    }
  }

 

  &__cartinfo {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    p{
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }

    .--overflowtext {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 240px;

      @media (max-width: $mobileXSmallWidth - 1px) {
        max-width: 150px;
      }
    }
  }

  &__tableheader {
    margin: 0px 32px;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    background-color: #F7F7F7;;
    padding: 20px 25px;
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #777777;
    }
  }

  @media (max-width: $mobileXSmallWidth - 1px) {

    padding: 32px 0px;
    text-align: left;

    &__title {
      h2 {
        text-align: left;
        font-size: 16px;
        line-height: 20px;
        padding: 10px;
      }
    }

    &__info {
      text-align: left;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      padding: 10px;
    }

    &__optionstitle {
      padding: 10px;
      margin-top: 30px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }

    &__createcartinput {
      padding: 10px;
    }
    
    .--mergetitle {
      padding: 0px;
      margin-bottom: 28px;
    }

    &__tableheader {
      display: none;
    }

    &__cart {
      margin: 0px;
      padding: 10px;
    }

    &__cartinfo {
      display: block;
      p{
        font-size: 14px;
        line-height: 16px;
      }
      p:first-child {
        font-weight: 800;
        margin-bottom: 5px;
      }
      p:nth-child(2n) {
        font-weight: 500;
        margin-bottom: 7px;
      }
      p:nth-child(3n) {
        font-weight: 600;
      }
      
    }

    .epradio + label:before {
      top: 50%;
      transform: translate(0, -50%);
    }

    &__btns {
      display: flex;
      flex-direction: column;
      margin: 50px 0px 0px 0px;
      width: 100%;

      .epbtn {
        width: 100%;
        margin: 0px;

        &:first-child {
          order: 1;
          margin-right: 0;
        }
      }
    }
  }
}
