@import './theme/common';

.homeb2c {
  $block: &;

  .epbtn {
    white-space: nowrap;
  }

  #{$block}__banner {
    overflow: hidden;
    height: 480px;
    margin-bottom: 45px;
    position: relative;
  }

  #{$block}__banner2 {
    #{$block}__bannerimage {
      border: 1px solid $secondBorderColor;
    }
  }

  #{$block}__bannerimage {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  #{$block}__bannerwrap {
    width: 100%;
    padding: 15px 0 30px;
    background-color: hsla(0, 0, 0, 0.6);
    color: $mainBackgroundColor;
    position: absolute;
    bottom: 0px;

    @media (min-width: $tabletWidth) {
      .container {
        max-width: 1040px;
      }
    }
  }

  #{$block}__bannerheading {
    font-size: $sizeXXLarge;
    font-weight: 600;
    margin-bottom: 10px;
  }

  #{$block}__bannertxt {
    p {
      font-size: $sizeInitial;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  #{$block}__titlesmall {
    font-size: $sizeXSmall;
    font-style: italic;
    color: $firstComplimentTextColor;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  #{$block}__title {
    font-size: $sizeMediumLarge;
    line-height: 25px;
    font-weight: 600;
    color: $mainColor;
    margin-bottom: 20px;
  }

  #{$block}__description {
    font-size: $sizeSmall;
    line-height: 22px;
    margin-bottom: 20px;
  }

  #{$block}__maingoods {
    overflow: hidden;
    margin-bottom: 45px;
    position: relative;
  }

  #{$block}__goodstitle {
    font-size: $sizeLarge;
    font-weight: 600;
    margin-bottom: 25px;
  }

  #{$block}__goodsimage {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    display:flex;
  }

  #{$block}__goodswrap {
    position: relative;
    height: 100%;
  }

  #{$block}__goodsinfo {
    width: 100%;
    padding: 15px 20px;
  }

  #{$block}__goodscell {
    border: 1px solid $secondBorderColor;
  }

  @media (min-width: $mobileXSmallWidth) {
    #{$block}__bannerheading {
      font-size: $sizeXXXLarge;
    }

    #{$block}__bannertxt {
      display: flex;
      align-items: center;

      p {
        font-size: $sizeMedium;
        line-height: 24px;
        margin: 0 20px 0 0;
      }
    }

    #{$block}__goodstitle {
      font-size: $sizeXXLarge;
    }

    #{$block}__goodswrap {
      min-height: 400px;
      display: flex;
    }

    #{$block}__goodsinfo {
      padding: 20px 30px;
    }

    #{$block}__goodscell {
      #{$block}__description {
        max-width: 180px;
      }
    }
  }

  @media (min-width: $tabletSmallWidth) {
    #{$block}__bannerheading {
      padding: 0 22px;
    }

    #{$block}__bannertxt {
      padding: 0 22px;
    }

    #{$block}__goodswrap {
      min-height: 1px;
    }

    #{$block}__goodsgrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 400px;
      grid-gap: 35px;
    }
  }

  @media (max-width: $tabletSmallWidth - 1px) {
    #{$block}__goodsimage {
      max-height: 400px;
    }

    #{$block}__goodscell {
      margin-bottom: 15px;
    }
  }

  #{$block}__goodssection1 {
    #{$block}__goodscell {
      &:first-child {
        grid-row-start: 1;
        grid-row-end: 3;

        #{$block}__goodsinfo {
          width: 100%;
          padding: 45px 30px 35px;
          background-color: hsla(0, 0, 0, 0.6);
          position: absolute;
          bottom: 0;
        }

        #{$block}__titlesmall {
          margin-bottom: 7px;
          color: $fifthComplimentTextColor;
        }

        #{$block}__title {
          margin-bottom: 10px;
          color: $mainBackgroundColor;
        }
      }

      &:nth-child(2) {
        #{$block}__goodsinfo {
          position: relative;
          z-index: 1;
        }
      }

      &:nth-child(3) {
        #{$block}__goodsinfo {
          background-color: $firstComplimentColor;
        }

        #{$block}__titlesmall {
          color: $mainBackgroundColor;
        }

        #{$block}__title {
          color: $mainBackgroundColor;
        }

        #{$block}__description {
          margin-bottom: 20px;
          max-height: 180px;
          color: $mainBackgroundColor;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &:nth-child(5) {
        #{$block}__goodsinfo {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    @media (min-width: $mobileXSmallWidth) {
      #{$block}__goodscell {
        &:first-child {
          #{$block}__title {
            padding-right: 120px;
            margin-bottom: 0;
          }

          #{$block}__goodsbtns {
            text-align: right;
          }
        }

        &:nth-child(2) {
          #{$block}__title {
            margin-bottom: 30px;
          }

          #{$block}__goodsinfo {
            width: 50%;
          }

          #{$block}__description {
            max-width: 140px;
          }

          #{$block}__goodsimage {
            width: 70%;
            max-width: 400px;
            position: absolute;
            right: 0;
          }
        }

        &:nth-child(3) {
          #{$block}__title {
            max-width: 185px;
          }
        }
      }
    }

    @media (min-width: $tabletSmallWidth) {
      #{$block}__goodsgrid {
        grid-template-rows: 400px 400px 400px;
      }
    }
  }

  #{$block}__goodssection2 {
    #{$block}__goodscell {
      &:first-child {
        #{$block}__goodsimage {
          max-width: 290px;
        }
      }

      &:nth-child(2) {
        #{$block}__goodsimage {
          max-width: 282px;
        }
      }

      @media (min-width: $mobileXSmallWidth) {
        #{$block}__goodsinfo {
          width: 50%;
        }

        #{$block}__goodsimage {
          width: 53%;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }

      @media (max-width: $mobileXSmallWidth - 1px) {
        #{$block}__goodsimage {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  #{$block}__goodssection3 {
    #{$block}__description {
      max-width: 100%;
    }

    @media (min-width: $tabletSmallWidth) {
      #{$block}__description {
        max-width: 450px;
      }
    }

    @media (max-width: $tabletSmallWidth - 1px) {
      #{$block}__goodswrap {
        min-height: 1px;
      }
    }
  }
}
