@import './../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss';
@import './../node_modules/css-reset-and-normalize/scss/button-reset.scss';
@import './../node_modules/css-reset-and-normalize/scss/link-reset.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(0, 0, 20%);
}

#root {
  height: 100%;
}

$btnColor: hsl(190, 70%, 35%);

.epbtn {
  position: relative;
  text-align: center;
  padding: 8px 10px;
  font-size: 14px;
  background-color: white;
  border: 1px solid $btnColor;
  color: $btnColor;
  cursor: pointer;
  box-shadow: 0 1px 3px change-color($color: $btnColor, $lightness: 20%, $alpha: 0.3);

  &:hover {
    background-color: change-color($color: $btnColor, $saturation: 40%, $lightness: 95%);
  }

  &:focus {
    background-color: white;
    border: 1px solid $btnColor;
    box-shadow: 0 0 0px 2px change-color($color: $btnColor, $saturation: 35%, $lightness: 75%);
  }

  &:active {
    top: 1px;
    background-color: change-color($color: $btnColor, $saturation: 20%, $lightness: 85%);
  }

  &.--small {
    padding: 7px 8px;
    font-size: 12px;
  }

  &.--large {
    padding: 12px 16px;
    font-size: 16px;
  }

  &.--primary {
    background-color: $btnColor;
    border: none;
    color: white;

    &:hover {
      background-color: adjust-color($color: $btnColor, $lightness: 5%);
    }

    &:active {
      background-color: adjust-color($color: $btnColor, $lightness: -5%);
    }
  }
}
