@import './../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss';
@import './../node_modules/css-reset-and-normalize/scss/button-reset.scss';
@import './../node_modules/css-reset-and-normalize/scss/link-reset.scss';
@import './theme/common';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(0, 0, 20%);
}

img, svg {
  vertical-align: middle;
}

#root {
  height: 100%;
}

.epbtn {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 8px 10px;
  font-size: 14px;
  background-color: white;
  border: 1px solid transparent;
  color: $btnColor;
  cursor: pointer;

  &.--bordered {
    border: 1px solid $btnColor;
  }

  &.--shading {
    box-shadow: 0 1px 3px change-color($color: $btnColor, $lightness: 20%, $alpha: 0.3);
  }

  &.--primary {
    background-color: $btnColor;
    color: white;

    &:hover {
      background-color: adjust-color($color: $btnColor, $lightness: 5%);
    }

    &:active {
      background-color: adjust-color($color: $btnColor, $lightness: -5%);
    }
  }

  &:hover {
    background-color: change-color($color: $btnColor, $saturation: 40%, $lightness: 95%);
  }

  &:focus {
    box-shadow: 0 0 0px 2px btnFocusOutlineColor;
  }

  &:active {
    top: 1px;
    background-color: change-color($color: $btnColor, $saturation: 20%, $lightness: 85%);
  }

  &:disabled {
    border: none;
    background-color: hsl(0, 0, 90%);
    color: hsl(0, 0, 70%);
    box-shadow: none;

    &:hover {
      background-color: hsl(0, 0, 90%);
    }
  }

  &.--small {
    padding: 7px 8px;
    font-size: 12px;
  }

  &.--large {
    padding: 12px 16px;
    font-size: 16px;
  }

  &.--fullwidth {
    width: 100%;
  }

  + .epbtn {
    margin-left: 10px;
  }
}

.epform {
  &__group {
    margin-bottom: 15px;

    &.--btn-container {
      padding-top: 15px;
    }
  }

  &__label {
    font-size: 12px;
    display: inline-block;
    font-weight: 600;
    line-height: 15px;
    color: $secondComplimentTextColor;
    text-transform: uppercase;
    margin-bottom: 5px;

    &__required {
      font-size: 16px;
      font-weight: bold;
      color: $mainErrorColor;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: $mainTextColor;
    background-color: $mainBackgroundColor;
    background-clip: padding-box;
    border: 1px solid $secondBorderColor;
    border-radius: 4px;

    &:focus {
      border-color: #0099DE;
    }
  }
}

.eppagetitle {
  font-size: 24px;
  font-weight: 600;
  padding: 15px 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.view-title {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 20px 5px 20px 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  color: gray;
  border-bottom: 1px solid #D0D0D0;
}

.static-container {
  padding-bottom: 60px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.epminiLoader {
  border: 10px solid $firstComplimentBackground;
  border-top: 10px solid $secondComplimentColor;
  width: 30px;
  height: 30px !important;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
  margin: 0 auto;
  margin-top: 10px;

  &.--centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.loader {
  border: 16px solid $mainBackgroundColor;
  border-top: 16px solid $secondComplimentColor;
  border-radius: 50%;
  width: 120px;
  height: 120px !important;
  animation: spin 0.5s linear infinite;
  margin: 0 auto;
  margin-top: 20px;
}

$shopkitBtnColor: $buttonActiveColor;
$shopkitBtnColorBorder: $buttonFocusColor;
$shopkitBtnColorOutline: $mainBackgroundColor;
$shopkitBtnOutlineBorder: $secondComplimentColor;
$shopkitBtnOutlineText: $firstComplimentColor;

@mixin shopkitBtn($bg, $border, $color: $mainBackgroundColor) {
  border: 1px solid $border;
  background: $bg;
  color: $color;
  border-radius: 0;
  padding: 10px 15px;
  font-size: 13px;
  font-family: inherit;
}

.moltin-shopkit.shopkit-modal {

  font-family: inherit;
  padding: 32px;

  .shopkit-primary {
    background: $shopkitBtnColor;
    border-radius: unset;
    font-family: inherit;
  }

  button[class^="Header__ActionButton"] {
    position: absolute;
    top: 38px;
  }

  h2[class^="typography__Heading"] {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 50px;
  }

  div[class^="CartItem__PhotoBox"] {
    border-radius: unset;
  }

  p[class^="CartItem__ProductName"] {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
  }

  button[class^="Button__TextButton"] {
    font-weight: bold;
    font-size: 13px !important;
    color: $shopkitBtnOutlineText;
    text-decoration: none;
  }

  label[class^="Label__StyledLabel"] {
    font-weight: bold;
    font-size: 14px;
  }

  span[class^="Cart__CartTotalTitle"] {
    font-weight: bold;
    font-size: 16px;
  }

  span[class^="Cart__CartTotalSubTotal"] {
    font-weight: bold;
    font-size: 20px;
  }

  div[class^="QuantityStepper__Wrapper"] {
    margin-right: 10px;
  }

  div[class^="AddressFields__FieldsWrapper"], div[class^="Checkout__Wrapper"] {
    label[class^="Label__StyledLabel"] {
      font-weight: normal;
    }
  }

  div[class^="Select__SelectWrapper"] {
    select {
      border-radius: 3px;
    }

    div[class^="Select__Icon"] {
      background-color: transparent;
    }
  }

  input[class^="Input__StyledInput"], .ap-nostyle-input {
    &:focus {
      border: 1px solid $shopkitBtnOutlineBorder;
    }
  }

  .ap-nostyle-dropdown-menu {
    border: 1px solid $shopkitBtnOutlineBorder;

    .ap-nostyle-suggestion:hover, .ap-nostyle-cursor {
      background-color: rgba(25, 124, 147, 0.1);
    }
  }

  div[class^="PromotionManager__Wrapper"] {
    .shopkit-primary-button {
      @include shopkitBtn(
        $shopkitBtnColorOutline,
        $shopkitBtnOutlineBorder,
        $shopkitBtnOutlineText
      );
    }
  }

  form {
    input:not([type="checkbox"]) {
      height: 40px;
    }
  }
}

.compareproducts .shopkit-buy-button {
  @include shopkitBtn(
      $shopkitBtnColor,
      $shopkitBtnColorBorder
  );
}

.product .shopkit-buy-button {
  @include shopkitBtn(
    $shopkitBtnColor,
    $shopkitBtnColorBorder
  );
  padding-left: 35px;
  padding-right: 35px;
}

.appheader .shopkit-cart-button {
  @include shopkitBtn(
    $shopkitBtnColorOutline,
    $shopkitBtnOutlineBorder,
    $shopkitBtnOutlineText
  );
}
