@import './theme/common';

.languagedropdown {
  $block: &;

  position: relative;

  #{$block}__selectorbtn {
    padding: 5px 5px;
    cursor: pointer;

    &:focus {
      box-shadow: 0 0 0px 2px $btnFocusOutlineColor;
    }

    &.--small {
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      padding-right: 12px;
      display: none;

      &:after {
        content: '';
        width: 8px;
        height: 8px;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        right: 0;
      }
    }
  }

  #{$block}__dropdown {
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 10px hsla(0, 0, 0, 0.2);
    width: 150px;
    right: 0;
    top: 100%;
    background-color: white;
    padding: 5px 0;
    z-index: 10;

    #{$block}__section {
      padding: 5px 0;
      border-bottom: 1px solid hsl(0, 0, 95%);

      &:last-child {
        border-bottom: none;
      }

      #{$block}__title {
        padding: 5px 12px;
        font-size: smaller;
        font-weight: bold;
      }

      #{$block}__itembtn {
        display: block;
        width: 100%;
        padding: 5px 12px;
        cursor: pointer;

        &:focus {
          box-shadow: 0 0 0px 2px $btnFocusOutlineColor inset;
        }

        &:hover:not(:disabled) {
          background-color: hsl(0, 0, 95%);
        }

        &:disabled {
          color: hsl(0, 0, 80%);
        }
      }
    }
  }
}

@media (max-width: $mobileWidth - 1px) {
  .languagedropdown {
    $block: &;

    #{$block}__selectorbtn {
      display: none;

      &.--small {
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        padding-right: 10px;
        display: block;
      }
    }
  }
}
