
@import './theme/common.scss';

.myaccount {
  width: 100%;

  &__wrap {
    padding: 40px 0 20px;
  }

  &__content {
    flex: 1 0;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  @media screen and (min-width: $tabletSmallWidth) {
    &__wrap {
      display: flex;
    }

    &__side {
      width: 200px;
      margin-right: 40px;
    }
  }
}
