@import './theme/common.scss';

.mycarts {
    
    padding: 40px 0 20px;
    width: 100%;

    &__header {
        margin: 25px 0px;
    }

    &__clear {
        clear: both;
    }

    &__ishidden {
        display: none;
    }

    &__isshow {
        display: block;
        padding: 20px;
        background-color:  #E8F2F4;
        border-bottom: 1px solid $secondBorderColor;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #333333;
     
        float: left;
    }

    &__addcartbtn {
        float: right;
        background: #FFFFFF;
        border: 1px solid $firstComplimentColor;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #197C93;
        padding: 12px 15px;

        &:hover {
            background-color: $firstComplimentColor;
            color: white;
        }

        &:focus {
            background-color: $btnSecondaryHoverColor;
            color: white;
        }

    }

    &__tblheader, &__tooltip  {
        display: none;
    }
 

    &__createcartmodalbg {
        position: fixed;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.3);
      }

      &__cartrow {
        padding: 16px 0px 20px 20px;
        text-align: left;
        border-bottom: 1px solid $secondBorderColor;
    }
    
      &__createcartmodal {
          position: absolute;
        padding: 25px;
        height: 100%;
        width: 100%;
        z-index: 2;
        background: $mainNavigationColor;
        border: 1px solid $secondBorderColor;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      &__createcartheader {
        display: flex;
        justify-content: space-between;
      }
    
      &__createcartheadertext {
        font-weight: bold;
        font-size: 24px;
      }
    
      &__createcartheaderbnt {
        cursor: pointer;
      }

      &__cartsselected {
          margin-right: 32px;
          padding-left: 12px;
      }

      &__removeIcon {
          cursor: pointer;
          width: 18px;
          height: 18px; 
      }

      &__deletebutton {
          padding-left: 32px;
          border-left: 2px solid #666666 ;
          cursor: pointer;
          text-decoration: underline;
      }


  &__confirmationoverlay {
    background-color: $mainTextColor;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0.3;
  }

  &__confirmation {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $secondComplimentBackground;
    border: 1px solid $mainBorderColor;
    padding: 20px 30px 30px;
    z-index: 4;
  }

  &__closebtn {
    cursor: pointer;
  }

  &__confirmationtitle {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid $secondBorderColor;
  }

  &__confirmationmsg {
    text-align: left;
    margin-bottom: 30px;
  }

  &__confirmationbtns {
    .epbtn {
      width: 100%;
      height: 42px;

      &.--primary {
        margin-bottom: 15px;
      }
    }
  }

    &__cartelement {
        width: 100%;
        display: grid;
        grid-template-columns: 80% 15%;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 5px;
        div, &__check {
            line-height: 16px;
            padding-left: 5px;
        }
    }
    &__cartname, &__total, &__productsquantity, &__expiry {
        grid-column-start: 1;
        grid-column-end:2 ;
    }

    &__expiry {
        grid-row-start: 2;
        grid-row-end: 3;
    }
       

    &__cartname, &__total {
        font-weight: 800;
        line-height: 16px;
        font-size: 16px;
    }
    
    &__action {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        justify-self: end;
        align-self: center;
    }

    &__actionbtn, &__lastedit {
        display: none;
    }

   
    &__actionicon {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 5px;
        border-radius: 50%;
        text-align: center;
        width: 20px;
        height:20px;
        background-color: #197C93;;
        cursor: pointer;
        svg{
            path{
                fill:  white;
            }
        }
        &:hover{
            background-color: $sixthComplimentBackground;
        }
        &:active{
            background-color: $firstComplimentColor;
            svg{
                path{
                    fill: white;
                }
            }
        }
    }

    &__nexticon {
        margin-bottom: 2px;
        margin-left: 1px;
        transform: matrix(0, 1, 1, 0, 0, 0);
    }

    &__alertMessage {
        background-color: #E8F2F4;
        padding: 16px;
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            text-align: left;
            float: left;
          }
    }

    &__expiralert {
        color: red;
    }

    &__expiresspan {
        color: black;
    }

    &__bgcolor {
        background-color: $sixthComplimentBackground;
    }

    &__messageicon{
        width:20px;
        height: 20px;
        float: right;
    }
    @media (min-width: $tabletSmallWidth) {

        &__cartname, &__total, &__productsquantity, &__expiry , &__action{
            grid-row-start: unset;
            grid-column-end: unset;
            grid-column-start:unset ;
            grid-row-end: unset;
            justify-self: normal;
        }

        &__actionicon {
            display: none;
        }

        &__expiresspan {
            display: none;
        }

        &__isshow {
            display: block;
            padding: 20px;
            background-color:  #E8F2F4;
            border-bottom: 1px solid $secondBorderColor;
            margin-bottom: 0px;
           
        }

        &__title {
            font-size: 28px;
            line-height: 32px;
        }

        &__createcartmodalbg {
            position: absolute;
        }

        &__createcartmodal {
            width: 460px;
            height: fit-content;
        }

        &__tblheader {
            background: #F7F7F7;
            padding: 24px 52px;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
        }

        &__cartelement {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: unset;
            width: 100%;

            div, &__check {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                padding-left: 0;
            }
        }

        &__rowtitle {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #777777;
        }

        &__cartname {
            color: $firstComplimentColor;
            padding-left: 5px;
        }

        &__check {
            display: flex;
            align-items: center;
        }

        &__cartrow {
            padding: 24px 52px 24px 24px;
            text-align: left;
            border-bottom: 1px solid $secondBorderColor;
        
            &:hover {
              background-color: $sixthComplimentBackground;
              color: $firstComplimentColor;
            }
        }

        &__actionbtn {
            display: block;
            background: #4C5666;
            border: 1px solid #4C5666;
            padding: 8px 16px;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #FFFFFF;

            &:hover {
                background: #3a4049;
            }

            &:focus {
                background: #222529;
            }
        }

        &__tooltip {
            position: relative;
            display: inline-block;

            &:hover {
                span {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &__tooltipicon {
            margin-left: 8.5px;
        }

        &__tooltiptext {
            visibility: hidden;
            width: 234px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
            bottom: 200%;
            left: -112px;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
            padding: 12px 8px;

            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 81%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #333 transparent transparent transparent;              
            }
        }
    }
}

.epcheckbox + label:before {
    top:0px!important;
    transform: translate(0px , 150%);
}

.epcheckbox:checked + label:after {
    top: 0px!important;
    transform: translate(2px, 450%) rotate(-45deg)!important;
}

@media (min-width: $tabletSmallWidth) {
    .epcheckbox + label:before {
        top:0!important;
        transform: translate(0px , 50%);
    }

    .epcheckbox:checked + label:after {
        top: 50%!important;
        transform: translate(2px, -50%) rotate(-45deg)!important;
    }
}