@import './theme/common';

.navmenu {
  padding-bottom: 20px;

  &__li {
    width: 290px;
  }

  &__sub {
    .navmenu {
      &__link {
        height: 48px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: #777777;
      }
    }

    &--level-0 {
      display: flex;
      padding-left: 0;
      text-transform: uppercase;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    &--level-1, &--level-2, &--level-3 {
      .navmenu__link {
        height: 30px;
        color: black;
        margin-left: 60px;
        text-transform: none;
      }
    }
  }
}

@media (max-width: $tabletWidth) {
  .navmenu {
    &__li {
      width: 100%;
      display: block;
      border-bottom: 1px solid #EEEEEE;
    }

    &__sub {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $mainBackgroundColor;
      transition: 0.5s;

      &.show {
        transform: translateX(0);
        visibility: visible;
      }
    }

    .navmenu {
      &__sub {
        overflow: hidden;

        &--level-0 {
          display: block;
        }

        &--level-1 {
          z-index: 1;
          visibility: hidden;
          transform: translateX(100%);
        }

        &.show {
          visibility: visible;
          transform: translateX(0);
        }
      }

      &__link {
        width: 100%;
        cursor: pointer;
        height: 48px;
        display: flex;
        align-items: center;
        margin: 0;
        padding-left: 40px;
        font-size: 14px;
        font-weight: 500;
        color: #167A92;
        text-transform: none;

        &.has-children {
          &:after {
            display: inline-block;
            position: absolute;
            right: 28px;
            content: ' ';
            width: 8px;
            height: 8px;
            border: none;
            border-left: 1.5px solid $firstComplimentColor;
            border-bottom: 1.5px solid $firstComplimentColor;
            transform-origin: center;
            transform: rotate(-135deg);
            vertical-align: middle;
          }
        }
      }
    }
  }
}
