
.navmenu {

  .navmenu__sub {
    padding-left: 20px;

    .navmenu__link {
      height: 48px;
      display: flex;
      align-items: center;
      padding: 0px 20px;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;
      color: white;
    }

    &--level-0 {
      display: flex;
      padding-left: 0px;
    }

    &--level-1, &--level-2, &--level-3 {
      .navmenu__link {
        height: 30px;
      }
    }
  }
}
