@import "./theme/common";

.orderdetailstable {
  $block: &;
  width: 100%;

  &__title {
    h1{
      font-weight: bold;
    font-size: 22px;
   
    text-transform: capitalize;
    }
  }

  &__body, &__header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 60px;
    width: 100%;
    color: $buttonActiveColor;
    margin-bottom: 30px;
  }

  &__table {
    width: 100%;
  }

  &__tr {
    padding: 10px 0;

    &:nth-child(2n-1) {
      background-color: $firstComplimentBackground;
    }
  }

  &__td {
    padding: 10px;
  }

  &__block {
    padding: 10px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  &__status{
      margin-bottom: 13px;
  }

  &__addresses {
    display: inline-block;
    text-align: left;
    border: 1px solid $secondBorderColor;
    box-sizing: border-box;
    padding: 30px;
    width: 300px;
    margin-bottom: 25px;
  }

  &__addresstitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  &__reorderbutton {
    background: $buttonActiveColor;
    height: fit-content;
    width: 300px;
    padding: 15px;
    text-align: center;
    color: white;
    border: 1px solid $buttonActiveColor;
    cursor: pointer;
    &:hover{
      background-color: $btnPrimaryHoverColor;
    }
    &:active{
      background-color: $mainColor;
    }
  }

  &__itemimage {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    img {
      width: 40px;
      height: 48px;
      padding: 2px;
      border: 1px solid $secondBorderColor;
      box-sizing: border-box;
      margin-right: 8px;
    }
  }

  &__totalprice, &__taxprice{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding: 20px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  &__taxprice {
    border-bottom: 1px solid $secondBorderColor;
  }

  &__totalpricenum {
    font-size: 20px;
  }

  &__productsku{
    color: $firstComplimentColor;
  }

  @media screen and (min-width: $tabletSmallWidth) {
    &__details {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    &__itemsheaderwrapper {
      display: grid;
      grid-template-columns: 2fr repeat(4, 1fr);
      background-color: $secondComplimentBackground;
      grid-column-gap: 30px;
      padding:0px 20px;
    }

    &__itemsheader {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: $sixthComplimentTextColor;
      align-self: center;
      padding: 20px 0px;
    }
    &__item {
      display: grid;
      grid-template-columns: 2fr repeat(4, 1fr);
      grid-column-gap: 30px;
      padding:10px 20px;
      align-items: center;
      border-bottom: 1px solid #C6CBD4;
      }
  }
}




