@import "./theme/common";

.orderdetailstable {
  $block: &;
  width: 100%;

  &__title {
    h1{
      font-weight: bold;
      font-size: 22px;
      text-transform: capitalize;
    }
  }

  &__body, &__header {
    padding: 0px 20px;
  }

  &__body {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
  }

  &__block {
    padding: 10px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  &__status{
      margin-bottom: 13px;
  }

  &__addresses {
    display: inline-block;
    text-align: left;
    border: 1px solid $secondBorderColor;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    margin-bottom: 25px;
  }

  &__addresstitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  &__reorderbutton {
    display: none;
    width: 300px;
    background: $buttonActiveColor;
    height: fit-content;
    padding: 15px;
    text-align: center;
    color: white;
    border: 1px solid $buttonActiveColor;
    cursor: pointer;

    &:hover{
      background-color: $btnPrimaryHoverColor;
    }

    &:active{
      background-color: $mainColor;
    }
  }

  &__reorderbuttonmobile{
    width: 100%;
    z-index: 10;
    background: $buttonActiveColor;
    height: fit-content;
    padding: 15px;
    text-align: center;
    color: white;
    border: 1px solid $buttonActiveColor;
    cursor: pointer;

    &:hover{
      background-color: $btnPrimaryHoverColor;
    }

    &:active{
      background-color: $mainColor;
    }
  }

  &__itemimage {
    grid-row-start: 1;
    grid-row-end: 4;
    align-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    height: 24px;
    overflow: visible;
    align-self: center;

    img {
      width: 40px!important;
      height: 48px!important;
      padding: 2px;
      border: 1px solid $secondBorderColor;
      box-sizing: border-box;
      margin-right: 8px;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &__totalprice, &__taxprice{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding: 20px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  

  &__taxprice {
    border-bottom: 1px solid $secondBorderColor;
  }

  &__totalpricenum {
    font-size: 20px;
  }

  &__productsku{
    color: $firstComplimentColor;
  }

  &__itemsheaderwrapper {
    display: none;
  }

  &__name{
    display: none;
  }

  &__item{
    padding: 10px 0;
    mix-blend-mode: normal;
    border-bottom: 1px solid #C6CBD4;
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-column-gap: 10px;
  }

  &__productname,  &__productsku, &__productprice{
    grid-column-start: 2;
    grid-column-end: 3;
    min-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__productquantity,  &__producttotal{
    grid-column-start: 3;
    grid-column-end: 4;
    
  }

  &__productquantity{
    grid-row-start: 1;
  }

  &__producttotal{
    grid-row-start: 2;
  }

  @media screen and (min-width: $tabletSmallWidth) {

    &__body, &__header {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-column-gap: 60px;
      width: 100%;
      color: $buttonActiveColor;
      margin-bottom: 30px;
    }

    &__addresses {
      width: 300px;
    }

    &__details {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    &__itemsheaderwrapper {
      display: grid;
      grid-template-columns: 2fr repeat(4, 1fr);
      background-color: $secondComplimentBackground;
      grid-column-gap: 30px;
      padding:0px 20px;
    }

    &__itemsheader {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: $sixthComplimentTextColor;
      align-self: center;
      padding: 20px 0px;
    }

    &__item {
      display: grid;
      grid-template-columns: 2fr repeat(4, 1fr);
      grid-template-rows: none;
      grid-column-gap: 30px;
      padding:10px 20px;
      align-items: center;
      border-bottom: 1px solid #C6CBD4;
      align-items: center;
    }

    &__itemimage {
      display: flex;
      align-items: center;
      grid-row-start: auto;
      grid-row-end: auto;
      height:auto;
      
      img{
        position: none;
        transform: none;
      }
    }

    &__productname{
      display: none;
    }

    &__productsku, &__productprice{
      grid-column-start: auto;
      grid-column-end: auto;
    }

    &__productquantity,  &__producttotal{
      grid-column-start: auto;
      grid-column-end: auto;
    }

    &__productquantity{
      grid-row-start: auto;
    }

    &__producttotal{
      grid-row-start: auto;
    }

    &__name{
      display: block;
    }

    &__titlespan{
      display: none;
    }

    &__reorderbuttonmobile{
      display: none;
    }

    &__reorderbutton{
      display: block;
    }
  }
}




