@import './theme/common';

.orderdetail {
 width: 100%;

  &__link {
    text-decoration: none;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 22px;
    margin: 30px 0;
    text-transform: capitalize;
    text-align: center;
  }

  &__container{
    margin:200px;
  }

  &__wrap {
    padding: 40px 0 20px;
  }

  &__content {
    flex: 1 0;
  }

  &__container {
    padding-left: 0px;
    padding-right: 0px;
  }

  &__backbtn{
    &:hover{
      text-decoration: underline;
    }
  }
  
  @media screen and (min-width: $tabletSmallWidth) {
    width: 80%;

    &__wrap {
      display: flex;
    }

    &__side {
      width: 200px;
      margin-right: 40px;
    }
  }
}
