@import './theme/common';

.ordershistory {

  &__title {
    display: none;
  }

  &__informationheader {
    display:none
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__detail {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    direction: rtl;
    text-align: left;

    &.--id{
      color: $firstComplimentColor;
    }

    &.--leftclmn{
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  &__ordersdetails {
    padding: 20px;
    height: max-content;
    border-bottom: 1px solid #C6CBD4;
    display: grid;
    grid-template-columns: 45% 55%;
    row-gap: 6px;
  }
  
  &__button {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: $firstComplimentColor;
    text-align: center;
    padding: 10px 15px;;
    border: 1px solid $firstComplimentColor;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
    &:hover, &:active {
      background-color: $firstComplimentColor;
      color: white;
      cursor: pointer;
    }
  }

  .--rotated {
    transform: rotate(180deg);
  }

  .--rotatedcaret{
    transform: rotate(180deg);
    path{
      fill: $mainBackgroundColor;
    }
  }

  &__searchfilterbar {
    height: 64px;
    background-color: $secondComplimentBackground;
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .--mbldate{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: $sixthComplimentTextColor;
    svg{
      margin-left: 10px;
      path{
        fill:$sixthComplimentTextColor;
      }
    }
    &:active{
      background-color: $firstComplimentColor;
      color: white;
      path{
        fill: white;
      }
    } 
  }

  &__datedropdown{
    display: flex;
    column-gap: 10px;
    align-items:center;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
  }

  &__datedropdowncontainer {
    display: block;
    position: relative;
  }

  &__datedropdownwrap {
    display: flex;
    
    &:hover{
      background-color: $sixthComplimentBackground;
    }
  }

  &__datedropdowntoggle {
    text-align: center;
    cursor: pointer;
    border: 1px solid $firstComplimentColor!important;
    padding: 8px 13px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: $firstComplimentColor;

    &.--open{
      background-color: $firstComplimentColor;
      color: $mainBackgroundColor;
    }
  }

  &__dropdowncaret {
    margin-left: 15px;

    path{
      fill:$firstComplimentColor;
    }
  }

  &__datedropdowncontent{
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    width: 100%;
    margin-top: 2px;
    bottom: 0;
    left: 0;
  }

  &__bgdatedropdowncontent {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
  }

  &__datedropdownbtn {
    display: block;
    width: 100%;
    padding: 16px;
    background-color: $mainBackgroundColor;
    color: $firstComplimentColor;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.2px;
    mix-blend-mode: normal;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background-color: $sixthComplimentBackground;
    }

    &:active{
      background-color: $firstComplimentColor;
      color: $mainBackgroundColor;
    }
  }

  .--show{
    display: block;
  }

  .--showheader{
    padding-left: 10px;
    display: block;
  }
  .--hide {
    display: none;
  }

  &__datedropdowndonebtn {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16px;
    background-color: $mainBackgroundColor;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.2px;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #CCCCCC;
    button{
      color: $firstComplimentColor; ;
    }
  }

  &__confirmation{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
  }

  &__confirmationmessage{
    margin: 20px;
    width: fit-content;
    position: absolute;
    top: 20px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    padding: 22px;

    p{
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
    }
    .--reorder{
      border-bottom: 1px solid #CCCCCC;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      h1{
        display: inline;
      }
      svg{
        display: inline;
        float: right;
        
        path{
          width: 12px;
        }
      }
    }
  }

  &__reorderbtn{
    background: #4C5666;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: 1px solid #4C5666;
    padding: 13px;
    display: block;
    width: 100%;
    margin: 15px 0;
    &:hover{
      background-color: $btnPrimaryHoverColor;
    }
    &:active{
      background-color: $mainColor;
    }
  }

  &__cancelbtn{
    display: block;
    width: 100%;
    padding: 13px;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #197C93;
    border: 1px solid #197C93;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
    &:active{
      background-color: $firstComplimentColor;
      color: white;
    }
    &:hover{
      background-color: $sixthComplimentBackground;
      color: $firstComplimentColor;
    }
  }

  &__header{
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  &__pagination{
    padding: 28px 0px;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  @media screen and (min-width: $tabletSmallWidth) {

    &__title {
      display: block;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 34px;
    }
    
    &__informationheader{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      background-color: $secondComplimentBackground;
      margin-top: $sizeLarge;
      grid-column-gap: 30px;
      padding-right:20px;
    }

    &__informationtitle{
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: $sixthComplimentTextColor;
      align-self: center;
      padding: 20px 0px;

      &:hover{
        path{
          fill: $firstComplimentColor; 
        }
      }

      &:active{
        path{
          fill: white; 
        }
      }
    }

    &__ordersdetails {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-column-gap: 30px;
      padding: 20px 20px 20px 0px;
    }

    &__detail {
      align-self: center;
      &.--leftclmn{
        grid-column-start: auto;
        grid-column-end: auto;
      }
      &:first-child {
        padding-left: 20px;
      }
    }
    
    &__detailtitle{
      display: none;
    }

    &__searchfilterbar{
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: start;
      gap: 24px;
      background-color: unset;
      padding: 0px 10px;
      grid-row-start: unset;
      grid-row-end: unset;
    }

    .--mbldate{
      display: none;
    }

    &__searchcontainer{
      position: relative;
      width: 200px;
      
      svg{
        position: absolute;
        left: 0px;
        pointer-events: none;
        top: 50%;
        transform: translate(50%, -50%);
        width: 17.49px;
        height: 17.49px;
        path{
          fill:#666666;
        }
      }
      width: 100%;
    }
    .--date{
      cursor: pointer;
      display: flex;
      padding-left: 20px;
      &:hover{
        background-color: $sixthComplimentBackground;
        color: $firstComplimentColor;
      }

      &:active{
        background-color: $firstComplimentColor;
        color: white;
      }
    }

    &__header{
      grid-template-rows: none;
      grid-template-columns: 2fr 1fr;
    }

    &__pagination{
      grid-row-start: unset;
      grid-row-end: unset;
    }

    &__datedropdowncontent{
      position: absolute;
      border: 1px solid $firstComplimentColor;
      overflow-x: hidden;
      z-index: 1;
      width: 100%;
      margin-top: 2px;
      bottom: unset;
      left: unset;
    }

    &__sortbydatecaret{
      path{
        fill: $sixthComplimentTextColor; 
      }
    }

    &__bgdatedropdowncontent {
      display: none;
    }

    &__datedropdownbtn {
      height: 32px;
      padding: 10px;
    }

    &__datedropdowndonebtn {
      display: none;
    }

    &__confirmationmessage{
      top: 100px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &__reorderbtn, &__cancelbtn {
      width:148px;
      float: right;
      margin: 35px 0 0 20px;
      cursor: pointer;
    }

    &__cancelbtn {
      &:active{
        background-color: $firstComplimentColor;
        color: white;
      }
      &:hover{
        background-color: $sixthComplimentBackground;
        color: $firstComplimentColor;
      }
    }
  }
}
