@import './theme/common';

.pagination {
  &__link {
    font-size: $sizeMediumLarger;
    color: hsl(0, 0, 30%);
    padding: 12px;
    text-decoration: none;

    &--current {
      color: hsl(0, 0, 45%);
    }
  }

  &__ellipsis {
    color: hsl(0, 0, 45%);
  }
}
