
.product {
  $block: &;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #{$block}__maincontainer {
    width: 800px;
    display: flex;
    flex-direction: row;
    margin-top: 60px;

    $imgSize: 400px;

    #{$block}__imgcontainer {
      flex: 0 0 $imgSize;

      #{$block}__img {
        width: $imgSize;
        height: $imgSize;
        object-fit: cover;
      }
    }

    #{$block}__details {
      flex: 1;
      margin-left: 40px;

      #{$block}__name {
        font-size: 28px;
        font-weight: bold;
      }

      #{$block}__price {
        margin-top: 14px;
        font-size: 28px;
        color: hsl(0, 0, 30%);
      }

      #{$block}__availability {
        margin-top: 14px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 10px;
        padding: 8px 14px;
        border: 1px solid hsl(0, 0, 80%);
        border-radius: 16px;
      }

      #{$block}__separator {
        margin-top: 20px;
        border-top: 1px solid hsl(0, 0, 90%);
      }

      #{$block}__addtocartbtn {
        margin-top: 20px;
        width: 200px;
      }

      #{$block}__moltinbtncontainer {
        margin-top: 20px;
      }
    }
  }
}
