@import './theme/common';

.productthumbnail {
  $block: &;

  display: inline-block;
  text-align: left;
  margin-bottom: 40px;

  #{$block}__imgcontainer {
    width: 160px;
    height: 160px;
  }

  #{$block}__name {
    margin-top: 10px;
    font-size: $sizeInitial;
    font-weight: bold;

    #{$block}__namelink {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  #{$block}__price {
    margin-top: 10px;
    font-size: $sizeInitial;
    font-weight: bold;
  }

  #{$block}__comparecheck {
    margin-top: 10px;
    font-size: smaller;

    label {
      display: flex;
      align-items: center;
    }
  }

  .productmainimage {
    height: 160px;
    width: 160px;
    border: 1px solid $secondBorderColor;
  }

  @media (min-width: $tabletSmallWidth) {
    #{$block}__imgcontainer {
      width: 180px;
      height: 180px;
    }

    .productmainimage {
      height: 180px;
      width: 180px;
    }
  }
}
