
@import './theme/common';

.product {
  $block: &;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  #{$block}__maincontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;

    $imgSize: 400px;

    #{$block}__imgcontainer {
      flex: 0 0 $imgSize;
      position: relative;

      #{$block}__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      #{$block}__previmagebtn, #{$block}__nextimagebtn {
        position: absolute;
        color: hsl(0, 0, 30%);
        background-color: hsla(0, 0, 100%, 0.3);
        top: 50%;
        margin-top: -22px;
        width: 44px;
        height: 44px;
        cursor: pointer;

        &:hover {
          background-color: hsla(0, 0, 100%, 0.6);
        }

        &:focus {
          box-shadow: 0 0 0 1px hsl(0, 0, 80%);
        }
      }

      #{$block}__previmagebtn {
        left: 10px;
      }

      #{$block}__nextimagebtn {
        right: 10px;
      }
    }

    #{$block}__details {
      flex: 1;
      margin-left: 40px;

      #{$block}__name {
        font-size: $sizeXXLarge;
        font-weight: bold;
      }

      #{$block}__sku {
        margin-top: 15px;
        font-size: $sizeSmall;
      }

      #{$block}__price {
        margin-top: 5px;
        font-size: $sizeXXLarge;
        color: hsl(0, 0, 30%);
      }

      #{$block}__comparecheck {
        margin-top: 20px;
      }

      #{$block}__moltinbtncontainer {
        margin-top: 20px;
      }

      #{$block}__description {
        margin-top: 20px;
      }

      #{$block}__socialshare {
        margin-top: 20px;
      }
    }

    #{$block}__addtocartdropdowncontainer {
      position: relative;
    }

    #{$block}__addtocartdropdownwrap {
      max-width: 330px;
      display: flex;
    }

    #{$block}__addtocartbtn {
      text-align: left;
      flex-grow: 1;
      text-overflow: ellipsis;
      width: 270px;
      white-space: nowrap;
      overflow: hidden;
    }

    #{$block}__addtocartdropdowntoggle {
      width: 50px;
      text-align: center;
      cursor: pointer;

      &.--open {
        background-color: $mainColor;
      }
    }

    @keyframes rotating {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    #{$block}__addtocartdropdownicspinner {
      animation: rotating 1s linear infinite;
    }

    #{$block}__addtocartdropdowniscaret {
      margin: 3px 0;

      &.--rotated {
        transform: rotate(180deg);
      }
    }

    #{$block}__addtocartdropdowncontent {
      position: absolute;
      border: 1px solid $mainColor;
      width: 100%;
      max-width: 330px;
      max-height: 180px;
      overflow: scroll;
      z-index: 1;
    }

    #{$block}__addtocartdropdownbtn {
      display: block;
      width: 100%;
      height: 32px;
      padding: 10px;
      background-color: $mainBackgroundColor;
      color: $firstComplimentColor;
      font-size: 13px;
      line-height: 13px;
      cursor: pointer;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background-color: $sixthComplimentBackground;
      }
    }
  }

  #{$block}__createcartmodalbg {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  #{$block}__createcartmodal {
    position: absolute;
    width: 460px;
    padding: 25px;
    z-index: 2;
    background: $mainNavigationColor;
    border: 1px solid $secondBorderColor;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #{$block}__createcartheader {
    display: flex;
    justify-content: space-between;
  }

  #{$block}__createcartheadertext {
    font-weight: bold;
    font-size: 24px;
  }

  #{$block}__createcartheaderbnt {
    cursor: pointer;
  }

  @media (min-width: $mobileSmallWidth) {
    #{$block}__maincontainer {
      width: 540px;
    }
  }

  @media (min-width: $mobileWidth) {
    #{$block}__maincontainer {
      width: 720px;
    }
  }

  @media (min-width: $tabletSmallWidth) {
    padding-left: $maxScrollWidth;
    padding-right: calc(#{$maxScrollWidth} - 100vw + 100%);

    #{$block}__maincontainer {
      width: 800px;
    }
  }

  @media (max-width: $mobileWidth - 1px) {
    &mainimage {
      height: auto !important;
      width: 100% !important;
    }

    #{$block}__maincontainer {
      #{$block}__imgcontainer {
        flex: 0 0 50%;
      }
    }
  }

  @media (max-width: $mobileSmallWidth - 1px) {
    #{$block}__maincontainer {
      flex-direction: column;

      #{$block}__imgcontainer {
        flex: 0 0 100%;
        margin-bottom: 20px;
      }

      #{$block}__details {
        margin-left: 0;
      }
    }
  }

  @media (max-width: $mobileSmallWidth - 1px) {
    #{$block}__createcartmodalbg {
      position: fixed;
    }

    #{$block}__createcartmodal {
      height: 100%;
      width: 100%;
    }
  }
}
