
@import './theme/common';

.product {
  $block: &;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  #{$block}__maincontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;

    $imgSize: 400px;

    #{$block}__imgcontainer {
      flex: 0 0 $imgSize;
      position: relative;

      #{$block}__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      #{$block}__previmagebtn, #{$block}__nextimagebtn {
        position: absolute;
        color: hsl(0, 0, 30%);
        background-color: hsla(0, 0, 100%, 0.3);
        top: 50%;
        margin-top: -22px;
        width: 44px;
        height: 44px;
        cursor: pointer;

        &:hover {
          background-color: hsla(0, 0, 100%, 0.6);
        }

        &:focus {
          box-shadow: 0 0 0 1px hsl(0, 0, 80%);
        }
      }

      #{$block}__previmagebtn {
        left: 10px;
      }

      #{$block}__nextimagebtn {
        right: 10px;
      }
    }

    #{$block}__details {
      flex: 1;
      margin-left: 40px;

      #{$block}__name {
        font-size: 28px;
        font-weight: bold;
      }

      #{$block}__price {
        margin-top: 14px;
        font-size: 28px;
        color: hsl(0, 0, 30%);
      }

      #{$block}__comparecheck {
        margin-top: 20px;
      }

      #{$block}__separator {
        margin-top: 20px;
        border-top: 1px solid hsl(0, 0, 90%);
      }

      #{$block}__addtocartbtn {
        margin-top: 20px;
        width: 200px;
      }

      #{$block}__moltinbtncontainer {
        margin-top: 20px;
      }
    }
  }

  @media (min-width: 576px) {
    #{$block}__maincontainer {
      width: 540px;
    }
  }

  @media (min-width: 768px) {
    #{$block}__maincontainer {
      width: 720px;
    }
  }

  @media (min-width: 992px) {
    padding-left: $maxScrollWidth;
    padding-right: calc(#{$maxScrollWidth} - 100vw + 100%);

    #{$block}__maincontainer {
      width: 800px;
    }
  }

  @media (max-width: 767px) {
    &mainimage {
      height: auto !important;
      width: 100% !important;
    }

    #{$block}__maincontainer {
      #{$block}__imgcontainer {
        flex: 0 0 50%;
      }
    }
  }

  @media (max-width: 575px) {
    #{$block}__maincontainer {
      flex-direction: column;

      #{$block}__imgcontainer {
        flex: 0 0 100%;
        margin-bottom: 20px;
      }

      #{$block}__details {
        margin-left: 0;
      }
    }
  }
}
