.producthit {
  $block: &;

  #{$block}__name, #{$block}__price {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
  }

  #{$block}__image {
    width: 160px;
    height: 160px;
    object-fit: fill;
  }
}
