@import './theme/common';

.purchasehistory {

  &__title {
    font-weight: bold;
    font-size: 26px;
  }

  &__table {
    table-layout: auto;
    width: 100%;
  }

  &__tr {
    background-color: $fourthComplimentBackground;
  }

  &__link {
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &__th {
    font-weight: bold;
    padding: 16px;
    border: 1px solid $fourthComplimentBackground;
    text-align: center;
  }

  &__td {
    text-align: center;
    padding: 20px;
    border: 1px solid $fourthComplimentBackground;
  }
}
