.search {
  $block: &;

  margin: auto;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-gap: 10px;
  width: 900px;
  grid-template-areas:
          "title      title"
          "fasets     productlist"
          "pagination pagination";



  #{$block}__title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    grid-area: title;
    font-size: 26px;
    font-weight: bold;
  }

  #{$block}__productlist {
    grid-area: productlist;
  }

  #{$block}__productlist .ais-Hits-list{
    grid-area: productlist;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    #{$block}__product {
      flex: 0 0 25%;
      display: inline-block;
    }
  }

  #{$block}__fasets {
    grid-area: fasets;
    border: 1px solid rgba(0,0,0,.125);
    margin: 10px;
    height: fit-content;

    h4, .ais-RefinementList-item, .ais-SortBy {
      padding: 12px 20px;
      margin-bottom: 0;
      background-color: rgba(0,0,0,.03);
      border-bottom: 1px solid rgba(0,0,0,.125);
      color: #2D383C;
    }

    .ais-RefinementList-item, .ais-SortBy {
      background-color: transparent;
      vertical-align: center;
    }

    .ais-SortBy-select {
      border: none;
      outline: none;
      width: 100%
    }

    & > div:last-child {
      .ais-RefinementList-item {
        border: none;
      }
    }

    .refinement-list__filter-icon {
      vertical-align: sub;
      margin-right: 5px;
    }

    .ais-RefinementList-checkbox {
      margin-right: 10px;
    }

    //ais-RefinementList-labelText
    .ais-RefinementList-count {
      margin-left: 4px;
    }
  }

  #{$block}__pagination {
    grid-area: pagination;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 20px;


    .ais-Pagination-item {
      display: inline-block;
      font-size: 18px;
      color: #4d4d4d;
      padding: 12px;

      &--selected {
        color: #737373;
      }
    }
  }
}
