@import './theme/common';

.searchbar {
  $block: &;

  max-width: 500px;

  #{$block}__hints {
    position: absolute;
    max-height: 200px;
    overflow: scroll;
    z-index: 2;
    background-color: $mainBackgroundColor;
    left: 0;
    width: 100%;
    border: 1px solid $secondComplimentTextColor;
  }

  #{$block}__hint {
    border-bottom: 1px solid $firstBorderColor;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 60px;

    &:hover {
      background-color: rgba($firstComplimentColor, 0.15);
    }
  }

  #{$block}__image {
    width: 40px;
    margin-right: 8px;
    border: 1px solid $firstBorderColor;
    background-color: $mainBackgroundColor;
  }

  #{$block}__close, #{$block}__open {
    display: none;
  }

  #{$block}__input {
    position: relative;
    margin-left: 40px;

    input {
      height: 40px;
      padding: 2px 35px;
      width: 100%;
      color: $mainTextColor;
      outline: none;
      border: 1px solid $secondComplimentTextColor;

      &:focus {
        border-color: $firstComplimentColor;
      }
    }

    input:focus ~ .ais-SearchBox-submit {
      svg {
        fill: $firstComplimentColor;
      }
    }

    .ais-SearchBox-form {
      position: relative;
    }

    .ais-SearchBox-submit, .ais-SearchBox-reset {
      position: absolute;
      width: 30px;
      height: 40px;
      text-align: center;
      top: 0;
    }
    .ais-SearchBox-submit {
      left: 5px;

      svg {
        fill: $firstComplimentTextColor;
      }
    }

    .ais-SearchBox-reset {
      right: 5px;
    }

    .ais-SearchBox-loadingIndicator {
      padding-top: 3px;
    }
  }
}

@media (max-width: $mobileWidth - 1px) {
  .searchbar {
    $block: &;

    #{$block}__close {
      width: 20%;
      height: 30px;
      text-align: center;
    }

    #{$block}__open {
      padding: 10px 5px;
    }

    #{$block}__open, #{$block}__close {
      display: inline-block;
    }

    #{$block}__hints {
      top: 60px;
    }

    #{$block}__input {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      margin: 0;
      padding: 10px 10px;
      background-color: $secondBorderColor;
      width: 100%;

      &.--show {
        display: inline-block;
        z-index: 1;
      }

      .ais-SearchBox {
        display: inline-block;
        width: 80%;
      }

      input {
        border-color: transparent;
        border-radius: 12px;
        display: inline-block;
      }
    }
  }
}
