@import './theme/common';

.search {
  $block: &;

  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-gap: 10px;
  width: 900px;
  grid-template-areas:
          "title      title"
          "facets     productlist"
          "pagination pagination";


  #{$block}__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    grid-area: title;
    font-size: 26px;
    font-weight: bold;
  }

  #{$block}__productlist {
    grid-area: productlist;
  }

  #{$block}__productlist .ais-Hits-list{
    grid-area: productlist;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    #{$block}__product {
      flex: 0 0 25%;
      display: inline-block;
    }
  }

  #{$block}__facets {
    grid-area: facets;
    border: 1px solid rgba(0,0,0,.125);
    margin: 10px;
    height: fit-content;
    transition: translate 1s;

    h2, .ais-RefinementList-item, .ais-SortBy {
      padding: 12px 20px;
      margin-bottom: 0;
      background-color: rgba(0,0,0,.03);
      border-bottom: 1px solid rgba(0,0,0,.125);
      color: $mainTextColor;
    }

    .ais-RefinementList-item, .ais-SortBy {
      background-color: transparent;
      vertical-align: center;
    }

    .ais-SortBy-select {
      border: none;
      outline: none;
      width: 100%
    }

    & > div:last-child {
      .ais-RefinementList-item {
        border: none;
      }
    }

    .refinementlist__filtericon {
      vertical-align: sub;
      margin-right: 5px;
    }

    .ais-RefinementList-checkbox {
      margin-right: 10px;
    }

    .ais-RefinementList-count {
      margin-left: 4px;
    }

    &-title {
      display: none;
      padding: 20px;
    }
  }

  #{$block}__facetstoggle {
    display: none;
  }

  #{$block}__facetstoggleinput {
    display: none;
  }

  #{$block}__pagination {
    grid-area: pagination;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 20px;


    .ais-Pagination-item {
      display: inline-block;
      font-size: 18px;
      color: hsl(0, 0, 30%);
      padding: 12px;

      &--selected {
        color: hsl(0, 0, 45%);
      }
    }
  }
}

@media (max-width: $tabletWidth - 1px) {
  .search {
    $block: &;
    width: 100%;
    padding: 0 20px;
    grid-template-columns: 3fr 6fr;

    #{$block}__productlist .ais-Hits-list {
      justify-content: center;
    }
  }
}

@media (max-width: $mobileWidth - 1px) {
  .search {
    $block: &;

    grid-template-columns: 1fr;
    grid-template-areas:
            "title"
            "facets-toggle"
            "facets"
            "productlist"
            "pagination";

    #{$block}__title {
      margin-bottom: 10px;
    }

    #{$block}__facetstoggle{
      grid-area: facets-toggle;
      display: block;
    }

    input[type="checkbox"]:checked ~  #{$block}__facets {
      max-height: 100%;
      border-width: 1px;
    }

    #{$block}__facets {
      max-height: 0;
      transition: max-height 0.3s;
      overflow: hidden;
      border-width: 0;
    }
  }
}
