
@import './theme/common.scss';

.settingscart {
  text-align: center;

  &__field {
    position: relative;
    margin: 30px 0;

    input {
      height: 40px;
      padding-left: 12px;
    }

    textarea {
      height: 150px;
      width: 80%;
    }
  }

  &__cancelbutton {
    margin: 30px 0;
  }

  &__addcartform {
    text-align: left;
    margin-bottom: 50px;
  }

  &__title {
    font-style: normal;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    font-weight: bold;
  }

  @media screen and (max-width: $mobileXSmallWidth) {
    &__field {
      textarea {
        width: 100%;
      }
    }
  }
}


